<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SterlingPortalTestSuite1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6366b4">  <td>17/01/03 17:14:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;OrderAdvSearch.beforeMethod()[pri:0, instance:com.automation.OrderAdvSearch@394e1a0f]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@712256162</td>   <td></td> </tr>
<tr bgcolor="6366b4">  <td>17/01/03 17:15:06</td>   <td>23859</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OrderAdvSearch.loginSP(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.automation.OrderAdvSearch@394e1a0f]">loginSP</td> 
  <td>main@712256162</td>   <td></td> </tr>
<tr bgcolor="6366b4">  <td>17/01/03 17:15:15</td>   <td>33157</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OrderAdvSearch.verifyOrderSearch(java.lang.String, java.lang.String)[pri:0, instance:com.automation.OrderAdvSearch@394e1a0f]">verifyOrderSearch</td> 
  <td>main@712256162</td>   <td></td> </tr>
<tr bgcolor="6366b4">  <td>17/01/03 17:15:32</td>   <td>49803</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OrderAdvSearch.verifyOrderSearch(java.lang.String, java.lang.String)[pri:0, instance:com.automation.OrderAdvSearch@394e1a0f]">verifyOrderSearch</td> 
  <td>main@712256162</td>   <td></td> </tr>
</table>
