<div class="form-group">
	<h3 style="text-align: left">Add New Location</h3>
	<br> <br>
	<div class="form-group">
		<div class="col-sm-4">
			<label class="info-msg">{{InfoMessage}}</label> <label
				class="error-msg">{{ErrorMessage}}</label>
		</div>
	</div>
	<br>
	
	<div class="col-md-4">
		<label>Location :</label> <input type="text" id="locationID"
			data-ng-model="AddLocation_locationID" data-validate="true" />
	</div>
	<div class="col-md-4">
		<label>Location Type:</label> <select id="locationType"
			style="margin-bottom: 0px; height: 35px;"
			data-ng-model="AddLocation_locationType">
			<option>INTRANSIT</option>
			<option>STAGING</option>
			<option>VIRTUAL</option>
			<option>REGULAR</option>
			<option>DOCK</option>
		</select>


	</div>

	<div class="col-md-4">
		<label>Zone :</label> <input type="text" id="ZoneID"
			data-ng-model="AddLocation_ZoneID" data-validate="true" />
	</div>
	<div class="col-md-4">
		<label>LocationSizeCode :</label> <input type="text" id="ZoneID"
			data-ng-model="AddLocation_LocationSizeCode" data-validate="true" />

	</div>
	<div class="col-md-4">
		<label>Aisle # :</label> <input type="text" id="ZoneID"
			data-ng-model="AddLocation_AisleNumber" data-validate="true" />
	</div>
	<div class="col-md-4">

		<label>Bay # :</label> <input type="text" id="ZoneID"
			data-ng-model="AddLocation_BayNumber" data-validate="true" />
	</div>
	<div class="col-md-4">

		<label>Level # :</label> <input type="text" id="ZoneID"
			data-ng-model="AddLocation_LevelNumber" data-validate="true" />
	</div>
	<br> &nbsp;&nbsp;&nbsp;&nbsp;
	<br><br><br>
	<div class="col-md-2">
	<button data-ng-click="Add()">Add</button></div>
	<div class="col-md-2">
	<button data-ng-click="Cancel()">Cancel</button></div>
</div>

