
<div class="form-group">
<h3 style="text-align: left">Search Criteria</h3><br><br>
<label>Location :</label>
<input type="text" id="locationID" data-ng-model="Configmain_locationID" data-validate="true" />
<br><label>Location Type:</label>
<form role="form">
    <div class="form-group">
      <select class="form-control" id="locationType" data-ng-model="Configmain_locationType" placeholder="Location">
        <option>INTRANSIT</option>
        <option>STAGING</option>
        <option>VIRTUAL</option>
        <option>REGULAR</option>
        <option>DOCK</option>
      </select>
      </div>
      </form>
 <label>Zone :</label>
<input type="text" id="ZoneID" data-ng-model="Configmain_ZoneID" data-validate="true" />
<br>
<button type="submit" data-ng-click="Search()">Search</button>&nbsp;&nbsp;&nbsp;&nbsp;
<button data-ng-click="Add()">Add</button>
</div>