<div class="form-group">
			<div class="col-sm-4">
				<label class="info-msg">{{InfoMessage}}</label> <label
					class="error-msg">{{ErrorMessage}}</label>
			</div>
		</div>
	<br>&nbsp;
	<br>&nbsp;
	<div class="clear"></div>
<div class="form-group">
			<div class="col-xs-12 col-sm-6 col-md-8" style="float: auto;">
					<table class="table-With-All-Borders">
						<tr>
							<td><h3>Location Details</h3></label>
<div class="clear"></div> <span class="content-detail-desc"><label>Location :&nbsp;</label>{{Location}}</span>
<div class="clear"></div> <span class="content-detail-desc"><label>Location Type :&nbsp;</label>{{Loc_Type}}</span>
<div class="clear"></div> <span class="content-detail-desc"><label>Zone :&nbsp;</label>{{Zone}}</span>
<div class="clear"></div> <span class="content-detail-desc"><label>Aisle # :&nbsp;</label>{{AisleNumber}}</span>
<div class="clear"></div> <span class="content-detail-desc"><label>Bay # :&nbsp;</label>{{BayNumber}}</span>
<div class="clear"></div> <span class="content-detail-desc"><label>Level # :&nbsp;</label>{{LevelNumber}}</span>
<div class="clear"></div> <span class="content-detail-desc"><label>Location SizeCode :&nbsp;</label>{{LocationSizeCode}}</span>
<div class="clear"></div> <span class="content-detail-desc"><label>Freeze MoveIn :&nbsp;</label>{{FreezeMoveIn}}</span>
<div class="clear"></div> <span class="content-detail-desc"><label>Freeze MoveOut :&nbsp;</label>{{FreezeMoveOut}}</span>
<div class="clear"></div> <span class="content-detail-desc"><label>MoveIn SeqNo :&nbsp;</label>{{MoveInSeqNo}}</span>
<div class="clear"></div> <span class="content-detail-desc"><label>MoveOut SeqNo :&nbsp;</label>{{MoveOutSeqNo}}</span>
<div class="clear"></div> <span class="content-detail-desc"><label>Velocity Code :&nbsp;</label>{{VelocityCode}}</span>
</td>
						</tr>
					</table>
					<br><br>
					<button data-ng-click="Modify()">Modify</button>
<button data-ng-click="Delete()">Delete</button>
					
			</div>
			
		</div>
		