<table class="table table-striped pagination" style="width: 100%">
<thead>
<tr>
<th>Location</th>
<th>Zone</th>
 <th>Location Type</th>
<th>Location Size Code</th>
<th>Aisle #</th>
<th>Bay #</th>
<th>Level #</th>
</tr>
</thead>
<tbody> 
<tr ng-repeat="list in LocationList |
  offset: currentPage*itemsPerPage |
  limitTo: itemsPerPage" ng-click="setSelected()">
		<td>{{list.LocationId}}
		</td>
		<td>{{list.ZoneId}}
		</td>
		<td>{{list.LocationType}}
		</td>
		<td>{{list.LocationSizeCode}}
		</td>
		<td>{{list.AisleNumber}}
		</td>
		<td>{{list.BayNumber}}
		</td>
		<td>{{list.LevelNumber}}
		</td>
	</tr>
	
	</tbody>
	<tfoot>
        <td colspan="3">
          <div>
            <ul  class="pagination">
              <li ng-class="prevPageDisabled()">
                <a href="javascript:void(0)" ng-click="prevPage()"><span aria-hidden="true">&laquo;</span></a>
              </li>
              <li ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                <a href="javascript:void(0)">{{n+1}}</a>
              </li>
              <li ng-class="nextPageDisabled()">
                <a href="javascript:void(0)" ng-click="nextPage()"><span aria-hidden="true">&raquo;</span></a>
              </li>
            </ul>
          </div>
        </td>
      </tfoot>
</table>

