<div class="form-group">
	<h3 style="text-align: left">Modify Location</h3>
	<br>
	<br>
	<div class="form-group">
			<div class="col-sm-4">
				<label class="info-msg">{{InfoMessage}}</label> <label
					class="error-msg">{{ErrorMessage}}</label>
			</div>
		</div>
	<br>
	
	<div class="col-md-4">
		<label>Location :</label> <input type="text" id="locationID"
			data-ng-model="Location" data-validate="true"
			placeholder="{{Location}}" />
	</div>
	<div class="col-md-4">
		<label>Location Type:</label>
		
			
				<select class="placeholder" id="locationType"
					data-ng-model="Loc_Type" style="margin-bottom: 0px; height: 35px;">
					<option value="">{{Loc_Type}}</option>
					<option>INTRANSIT</option>
					<option>STAGING</option>
					<option>VIRTUAL</option>
					<option>REGULAR</option>
					<option>DOCK</option>
				</select>
			
		
	</div>
	<div class="col-md-4">
		<label>Zone :</label> 
	<input type="text" ng-model="Zone" placeholder="{{LocationSizeCode}}"/>
		</div>
			<br />
	<div class="col-md-4">
		<label>LocationSizeCode :</label> <input type="text" id="ZoneID"
			data-ng-model="LocationSizeCode" data-validate="true"
			placeholder="{{LocationSizeCode}}" />
	</div>
	<div class="col-md-4">
		<label>Aisle # :</label> <input type="text" id="ZoneID"
			data-ng-model="AisleNumber" data-validate="true"
			placeholder="{{AisleNumber}}" />
	</div>
	<div class="col-md-4">
		<label>Bay # :</label> <input type="text" id="ZoneID"
			data-ng-model="BayNumber" data-validate="true"
			placeholder="{{BayNumber}}" />
	</div>
	<div class="col-md-4">
		<label>Level # :</label> <input type="text" id="ZoneID"
			data-ng-model="LevelNumber" data-validate="true"
			placeholder="{{LevelNumber}}" />
	</div>
	<div class="col-md-4">
		<label>Freeze MoveIn :</label> <input type="text" id="ZoneID"
			data-ng-model="FreezeMoveIn" data-validate="true"
			placeholder="{{FreezeMoveIn}}" />
	</div>
	<div class="col-md-4">
		<label>Freeze MoveOut :</label> <input type="text" id="ZoneID"
			data-ng-model="FreezeMoveOut" data-validate="true"
			placeholder="{{FreezeMoveOut}}" />
	</div>
	<div class="col-md-4">
		<label>MoveIn SeqNo :</label> <input type="text" id="ZoneID"
			data-ng-model="MoveInSeqNo" data-validate="true"
			placeholder="{{MoveInSeqNo}}" />
	</div>
	<div class="col-md-4">
		<label>MoveOut SeqNo :</label> <input type="text" id="ZoneID"
			data-ng-model="MoveOutSeqNo" data-validate="true"
			placeholder="{{MoveOutSeqNo}}" />
	</div>
	<div class="col-md-4">
		<label>Velocity Code :</label> <input type="text" id="ZoneID"
			data-ng-model="VelocityCode" data-validate="true"
			placeholder="{{VelocityCode}}" />
	</div>&nbsp;
	 <br>
	<br>&nbsp;&nbsp;&nbsp;
	<div class="col-md-2">
	<button data-ng-click="Modify()">Confirm</button>
	</div><div class="col-md-2">
	<button data-ng-click="Cancel()">Cancel</button>
</div></div>