<!-- div class="container" style="background-color:#FF8C00">
  <h1 class="scrollable-header app-name" style="background-color:#FF8C00"><img src='imgs/PostiLogo.bmp'></h1>  
  <div class="scrollable-content">
    <div class="list-group" ui-turn-off='uiSidebarLeft' style="background-color:#FF8C00">
   	  <li data-ng-repeat="x in BrgMenu.Menu.SubMenu.Menu | orderBy: 'MenuSeq'" class="list-group-item">
   	   <a ui-sref="{{x.ScreenName}}({CSRFToken:csrf})">{{x.ScreenDescription}}</a>
   	  </li>
      
    </div>    
  </div>
</div-->


<!-- div class="container" style="background-color:#B7B9BF;">
  <h1 style="text-align: center;margin-top:5px;height:50px;"><img src='common/imgs/bridge-solutions-group-logo.png' 
  style='width:150px;height:50px;margin-top:0px;'></h1><br />
   <div>
    <div class="col-sm-4" align="center">
      <button data-ng-repeat="x in BrgMenu.Menu.SubMenu.Menu | orderBy: 'MenuSeq'" ui-sref="{{x.ScreenName}}({CSRFToken:csrf})" class="btn_menu" style="background-color:#F7F3F3"><data-i18n="_Home_"><span class="fa fa-home"></span>{{x.ScreenDescription}}</button>
</div>
</div>
</div-->

<div class="container">
  <h1 style="text-align: center;margin-top:5px;height:50px;"><img src='common/imgs/bridge-solutions-group-logo.png' 
  style='width:150px;height:50px;margin-top:0px;'></h1><br />
   <div>
    <div class="col-sm-4" align="center">
      <button data-ng-repeat="x in BrgMenu.Menu.SubMenu.Menu | orderBy: 'MenuSeq'" ui-sref="{{x.ScreenName}}({CSRFToken:csrf})" class="btn_menu" style="background-color:#F7F3F3;"><data-i18n="_Home_"><span class="{{x.IconClass}}"><br /></span>{{x.ScreenDescription}}</button>
      <!-- button ui-sref="home({CSRFToken:csrf})" class="btn_menu" style="background-color:#F7F3F3"><data-i18n="_Home_"><span class="icon icon-home"></span>Home</button-->
 
      <span class="list-group-item error-msg" ng-if="MobileMenuError">
        <a>{{MobileMenuError}}</a>
      </span>
</div>
</div>
</div>


<!-- <div style="background-color:#FF8C00">-->
<!-- Below code for scrollable Menu Layout -->
 <!-- 
  <div style="background-color:#03A9F4">
  <h1 style="text-align: center;margin-top:0px;height:50px;"><img src='common/imgs/bridge-solutions-group-logo.png' 
  style='width:180px;height:60px;margin-top:2px;'></h1>
   <div class="scrollable-content" style="background-color:#03A9F4">
    <div class="list-group">
   	  <a class="list-group-item" ui-sref="home({CSRFToken:csrf})"><font size='3' data-i18n="_Home_">Home</font><i class="fa fa-chevron-right pull-right"></i></a>
   	  <a class="list-group-item" ui-sref="BlindReceive"  data-i18n="_Blind_","_Receive_" ><font size='3'>Blind Receive</font><i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" ui-sref="receive({CSRFToken:csrf})"><font size='3' data-i18n="_Receive_">Receive</font><i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" ui-sref="inv({CSRFToken:csrf})"><font size='3' data-i18n="_Inventory_">Inventory</font><i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" ui-sref="put({CSRFToken:csrf})"><font size='3' data-i18n="_Putaway_">Putaway</font><i class="fa fa-chevron-right pull-right"></i></a>
	  <a class="list-group-item" ui-sref="Move({CSRFToken:csrf})"><font size='3' data-i18n="_AdhocMove_">Adhoc Move</font><i class="fa fa-chevron-right pull-right"></i></a>
	   <a class="list-group-item" ui-sref="count({CSRFToken:csrf})"><font size='3' data-i18n="_Count_">Count</font><i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" ui-sref="task({CSRFToken:csrf})"><font size='3' data-i18n="_Task_">Task</font><i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" ui-sref="pick({CSRFToken:csrf})"><font size='3' data-i18n="_OutboundPick_">Outbound Pick</font><i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" ui-sref="pack({CSRFToken:csrf})"><font size='3' data-i18n="_Pack_">Pack </font><i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" ui-sref="packaudit({CSRFToken:csrf})"><font size='3' data-i18n="_PackAudit_">Pack Audit</font><i class="fa fa-chevron-right pull-right"></i></a>  	    
       <a class="list-group-item" ui-sref="settings({CSRFToken:csrf})"><font size='3' data-i18n="_Settings_">Settings</font><i class="fa fa-chevron-right pull-right"></i></a>
       <a class="list-group-item" ui-sref="manifest({CSRFToken:csrf})"><font size='3' data-i18n="_Manifest_">Manifest</font><i class="fa fa-chevron-right pull-right"></i></a>
       <a class="list-group-item" ui-sref="logout({CSRFToken:csrf})"><font size='3' data-i18n="_Logout_">Logout </font><i class="fa fa-chevron-right pull-right"></i></a>
    </div>    
  </div>
</div>
-->
 <!-- 
  <div  class="container" style="background-color:#E1F5FE;">
  -->
<!-- Below code for Buttons Menu Layout with font-awesome fonts -->
 <!-- 
  <div  class="container" style="background-color:#B7B9BF;">
  <h1 style="text-align: center;margin-top:5px;height:50px;"><img src='common/imgs/bridge-solutions-group-logo.png' 
  style='width:150px;height:50px;margin-top:0px;'></h1><br />
   <div>
    <div class="col-sm-4" align="center">
   	  <button ui-sref="home({CSRFToken:csrf})" class="btn_menu" style="background-color:#F7F3F3"><data-i18n="_Home_"><span class="fa fa-home"></span>Home</button>
   	  <button ui-sref="BlindReceive" class="btn_menu" style="background-color:#F7F3F3"><data-i18n="_Blind_","_Receive_"><span class="fa fa-arrow-right"></span>Blind Receive</button>
      <button ui-sref="receive({CSRFToken:csrf})" class="btn_menu" style="background-color:#F7F3F3"><data-i18n="_Receive_"><span class="fa fa-arrow-right"></span>Receive</button><br />
      <button ui-sref="inv({CSRFToken:csrf})" class="btn_menu" style="background-color:#F7F3F3"><data-i18n="_Inventory_"><span class="fa fa-cubes"></span>Inventory</button>
      <button ui-sref="put({CSRFToken:csrf})" class="btn_menu" style="background-color:#F7F3F3"><data-i18n="_Putaway_"><span class="fa fa-cart-plus"></span>Putaway</button>
	  <button ui-sref="Move({CSRFToken:csrf})" class="btn_menu" style="background-color:#F7F3F3"><data-i18n="_AdhocMove_"><span class="fa fa-random"></span>Adhoc Move</button><br />
	  <button ui-sref="count({CSRFToken:csrf})" class="btn_menu" style="background-color:#F7F3F3"><data-i18n="_Count_"><span class="fa fa-file"></span>Count</button>
      <button ui-sref="task({CSRFToken:csrf})" class="btn_menu" style="background-color:#F7F3F3"><data-i18n="_Task_"><span class="fa fa-tasks"></span>Task</button>
      <button ui-sref="pick({CSRFToken:csrf})" class="btn_menu" style="background-color:#F7F3F3"><data-i18n="_OutboundPick_"><span class="fa fa-hand-lizard-o"></span>Outbound Pick</button><br />
      <button ui-sref="pack({CSRFToken:csrf})" class="btn_menu" style="background-color:#F7F3F3"><data-i18n="_Pack_"><span class="fa fa-briefcase"></span>Pack </button>
      <button ui-sref="packaudit({CSRFToken:csrf})" class="btn_menu" style="background-color:#F7F3F3"><data-i18n="_PackAudit_"><span class="fa fa-calendar-check-o"></span>Pack Audit</button>  	    
      <button ui-sref="manifest({CSRFToken:csrf})" class="btn_menu" style="background-color:#F7F3F3"><data-i18n="_Manifest_"><span class="fa fa-file-text-o"></span>Manifest</button><br />
      <button ui-sref="settings({CSRFToken:csrf})" class="btn_menu" style="background-color:#F7F3F3"><data-i18n="_Setting_"><span class="fa fa-gears"></span>Setting</button>
       <button ui-sref="logout({CSRFToken:csrf})" class="btn_menu" style="background-color:#F7F3F3"><data-i18n="_Logout_"><span class="fa fa-sign-out"></span>Logout </button>
    </div>    
  </div>
</div>
-->
<!-- Below code for Buttons Menu Layout with Bridge Fonts -->
  <!-- div  class="container" style="background-color:#E1F5FE;">
  <h1 style="text-align: center;margin-top:5px;height:50px;"><img src='common/imgs/bridge-solutions-group-logo.png' 
  style='width:150px;height:50px;margin-top:0px;'></h1><br />
   <div>
    <div class="col-sm-4" align="center">
   	  <button ui-sref="home({CSRFToken:csrf})" class="btn_menu" style="background-color:#F7F3F3"><data-i18n="_Home_"><span class="icon icon-home"></span><br />Home</button>
   	  <button ui-sref="BlindReceive" class="btn_menu" style="background-color:#F7F3F3"><data-i18n="_Blind_","_Receive_"><span class="icon icon-blind-receive"></span><br />Blind Receive</button>
      <button ui-sref="receive({CSRFToken:csrf})" class="btn_menu" style="background-color:#F7F3F3"><data-i18n="_Receive_"><span class="icon icon-receive"></span><br />Receive</button><br />
      <button ui-sref="inv({CSRFToken:csrf})" class="btn_menu" style="background-color:#F7F3F3"><data-i18n="_Inventory_"><span class="icon icon-inventory"></span><br />Inventory</button>
      <button ui-sref="put({CSRFToken:csrf})" class="btn_menu" style="background-color:#F7F3F3"><data-i18n="_Putaway_"><span class="icon icon-putaway"></span><br />Putaway</button>
	  <button ui-sref="Move({CSRFToken:csrf})" class="btn_menu" style="background-color:#F7F3F3"><data-i18n="_AdhocMove_"><span class="icon icon-adhoc-move"></span><br />Adhoc Move</button><br />
	  <button ui-sref="count({CSRFToken:csrf})" class="btn_menu" style="background-color:#F7F3F3"><data-i18n="_Count_"><span class="icon icon-count"></span><br />Count</button>
      <button ui-sref="task({CSRFToken:csrf})" class="btn_menu" style="background-color:#F7F3F3"><data-i18n="_Task_"><span class="icon icon-tasks"></span><br />Task</button>
      <button ui-sref="pick({CSRFToken:csrf})" class="btn_menu" style="background-color:#F7F3F3"><data-i18n="_OutboundPick_"><span class="icon icon-pick"></span><br />Outbound Pick</button><br />
      <button ui-sref="pack({CSRFToken:csrf})" class="btn_menu" style="background-color:#F7F3F3"><data-i18n="_Pack_"><span class="icon icon-pack"></span><br />Pack </button>
      <button ui-sref="packaudit({CSRFToken:csrf})" class="btn_menu" style="background-color:#F7F3F3"><data-i18n="_PackAudit_"><span class="icon icon-pack-audit"></span><br />Pack Audit</button>  	    
      <button ui-sref="manifest({CSRFToken:csrf})" class="btn_menu" style="background-color:#F7F3F3"><data-i18n="_Manifest_"><span class="icon icon-manifest"></span><br />Manifest</button><br />
      <button ui-sref="settings({CSRFToken:csrf})" class="btn_menu" style="background-color:#F7F3F3"><data-i18n="_Setting_"><span class="icon icon-cog-gear"></span><br />Setting</button>
       <button ui-sref="logout({CSRFToken:csrf})" class="btn_menu" style="background-color:#F7F3F3"><data-i18n="_Logout_"><span class="icon icon-log-out"></span><br />Logout</button>
    </div>    
  </div>
</div-->


 
 <!-- 
  <div class="container" style="background-color:`#E1F5FE" id="menuleft" ng-class="{hide:!showmenu,slide:showmenu}">
  <h1 style="text-align: center;margin-top:5px;height:50px;"><img src='common/imgs/bridge-solutions-group-logo.png' 
  style='width:150px;height:50px;margin-top:0px;'></h1>
   <div class="form-group">
    <div class="col-sm-4" style="margin-left:35%; margin-right:35%">
   	  <button ui-sref="home({CSRFToken:csrf})" style="height:80px;width:80px;" ng-click="toggleMenu()"><data-i18n="_Home_">Home</button>
   	  <button ui-sref="BlindReceive" style="height:80px;width:80px;" ng-click="toggleMenu()"><data-i18n="_Blind_","_Receive_">Blind Receive</button>
      <button ui-sref="receive({CSRFToken:csrf})" style="height:80px;width:80px;" ng-click="toggleMenu()"><data-i18n="_Receive_">Receive</button>
      <button ui-sref="inv({CSRFToken:csrf})" style="height:80px;width:80px;" ng-click="toggleMenu()"><data-i18n="_Inventory_">Inventory</button>
      <button ui-sref="put({CSRFToken:csrf})" style="height:80px;width:80px;" ng-click="toggleMenu()"><data-i18n="_Putaway_">Putaway</button>
	  <button ui-sref="move({CSRFToken:csrf})" style="height:80px;width:80px;" ng-click="toggleMenu()"><data-i18n="_AdhocMove_">Adhoc Move</button>
	  <button ui-sref="count({CSRFToken:csrf})" style="height:80px;width:80px;" ng-click="toggleMenu()"><data-i18n="_Count_">Count</button>
      <button ui-sref="task({CSRFToken:csrf})" style="height:80px;width:80px;" ng-click="toggleMenu()"><data-i18n="_Task_">Task</button>
      <button ui-sref="pick({CSRFToken:csrf})" style="height:80px;width:80px;" ng-click="toggleMenu()"><data-i18n="_OutboundPick_">Outbound Pick</button>
      <button ui-sref="pack({CSRFToken:csrf})" style="height:80px;width:80px;" ng-click="toggleMenu()"><data-i18n="_Pack_">Pack </button>
      <button ui-sref="packaudit({CSRFToken:csrf})" style="height:80px;width:80px;" ng-click="toggleMenu()"><data-i18n="_PackAudit_">Pack Audit</button>  	    
       <button ui-sref="manifest({CSRFToken:csrf})" style="height:80px;width:80px;" ng-click="toggleMenu()"><data-i18n="_Manifest_">Manifest</button>
       <button ui-sref="logout({CSRFToken:csrf})" style="height:80px;width:80px;" ng-click="toggleMenu()"><data-i18n="_Logout_">Logout </button>
    </div>    
  </div>
</div>

  <div class="container" style="background-color:#E1F5FE" id="all" ng-class="{hide:showmenu,slide:!showmenu}">
  <div class="overlay" ng-class="{show:showmenu}" ng-swipe-right="showmenu=false"></div>
 <div id="header">
  <h1 style="text-align: center;margin-top:5px;height:50px;"><img src='common/imgs/bridge-solutions-group-logo.png' 
  style='width:150px;height:50px;margin-top:0px;'></h1>
  <br />
  <br />
   <div class="form-group">
    <div class="col-sm-4" style="margin-left:35%; margin-right:35%">
   	  <button ui-sref="home({CSRFToken:csrf})" style="height:80px;width:80px;" ng-click="toggleMenu()"><data-i18n="_Home_">Home</button>
   	  <button ui-sref="BlindReceive" style="height:80px;width:80px;" ng-click="toggleMenu()"><data-i18n="_Blind_","_Receive_">Blind Receive</button>
      <button ui-sref="receive({CSRFToken:csrf})" style="height:80px;width:80px;" ng-click="toggleMenu()"><data-i18n="_Receive_">Receive</button>
      <button ui-sref="inv({CSRFToken:csrf})" style="height:80px;width:80px;" ng-click="toggleMenu()"><data-i18n="_Inventory_">Inventory</button>
      <button ui-sref="put({CSRFToken:csrf})" style="height:80px;width:80px;" ng-click="toggleMenu()"><data-i18n="_Putaway_">Putaway</button>
	  <button ui-sref="move({CSRFToken:csrf})" style="height:80px;width:80px;" ng-click="toggleMenu()"><data-i18n="_AdhocMove_">Adhoc Move</button>
	  <button style="height:80px;width:80px;" ng-click="toggleMenu()"><data-i18n="_Count_">Count</button>
      <button ui-sref="task({CSRFToken:csrf})" style="height:80px;width:80px;" ng-click="toggleMenu()"><data-i18n="_Task_">Task</button>
      <button ui-sref="pick({CSRFToken:csrf})" style="height:80px;width:80px;" ng-click="toggleMenu()"><data-i18n="_OutboundPick_">Outbound Pick</button>
      <button ui-sref="pack({CSRFToken:csrf})" style="height:80px;width:80px;" ng-click="toggleMenu()"><data-i18n="_Pack_">Pack </button>
      <button ui-sref="packaudit({CSRFToken:csrf})" style="height:80px;width:80px;" ng-click="toggleMenu()"><data-i18n="_PackAudit_">Pack Audit</button>  	    
       <button ui-sref="manifest({CSRFToken:csrf})" style="height:80px;width:80px;" ng-click="toggleMenu()"><data-i18n="_Manifest_">Manifest</button>
       <button ui-sref="logout({CSRFToken:csrf})" style="height:80px;width:80px;" ng-click="toggleMenu()"><data-i18n="_Logout_">Logout </button>
    </div>    
  </div>
</div>

</div>

-->
<!-- 
<!DOCTYPE HTML>
<html lang="en-US" ng-app="BridgeApp" ng-controller="MenuCtrl">
<head>
<meta charset="utf-8" />
<title>Demo</title>

<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<link rel='stylesheet' type='text/css' href='demo.css' />
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js"></script>
<script src="http://code.angularjs.org/1.2.0rc1/angular-route.min.js"></script>
<script src="http://code.angularjs.org/1.2.0rc1/angular-touch.min.js"></script>
<script src="Menu/MenuCtrl.js"></script>
</head>
<body>

<div id="menuleft" ng-class="{hide:!showmenu,slide:showmenu}">
<h1>Demo</h1>
<ul>
<li><a ng-click="toggleMenu()">Link 1</a></li>
<li><a ng-click="toggleMenu()">Link 2</a></li>
<li><a ng-click="toggleMenu()">Link 3</a></li>
</ul>
</div>
</div>

<div id="all" ng-class="{hide:showmenu,slide:!showmenu}">
<div class="overlay" ng-class="{show:showmenu}" ng-swipe-left="showmenu=false"></div>
<div id="header">
<button ng-click="toggleMenu()"></button>
<h1>Demo</h1>
</div>

<div id="wrapper">
<p>This works best in mobile ;)</p>
<p>Click menu button above to open menu</p>
<p>To close click a menu item, the button or swipe the overlay to close (with mouse click, hold, then move left) _ My Content for checking only  _ My Content for checking only _ My Content for checking only _ My Content for checking only _ My Content for checking only _ My Content for checking only _ My Content for checking only</p>
</div>
</div>



</body>
</html>

-->
















