<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SterlingPortalTestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6366b4">  <td>17/01/09 18:07:05</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HUBSearchDocumentTypeUI.beforeMethod()[pri:0, instance:com.sterling.telstra.ui.HUBSearchDocumentTypeUI@394e1a0f]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@712256162</td>   <td></td> </tr>
<tr bgcolor="6366b4">  <td>17/01/09 18:07:20</td>   <td>15173</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HUBSearchDocumentTypeUI.loginSP(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.sterling.telstra.ui.HUBSearchDocumentTypeUI@394e1a0f]">loginSP</td> 
  <td>main@712256162</td>   <td></td> </tr>
<tr bgcolor="6366b4">  <td>17/01/09 18:07:30</td>   <td>24943</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HUBSearchDocumentTypeUI.verifyOrderSearchUsingDocType(java.lang.String, java.lang.String)[pri:0, instance:com.sterling.telstra.ui.HUBSearchDocumentTypeUI@394e1a0f]">verifyOrderSearchUsingDocType</td> 
  <td>main@712256162</td>   <td></td> </tr>
<tr bgcolor="6366b4">  <td>17/01/09 18:07:50</td>   <td>45363</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HUBSearchDocumentTypeUI.verifyOrderSearchUsingDocType(java.lang.String, java.lang.String)[pri:0, instance:com.sterling.telstra.ui.HUBSearchDocumentTypeUI@394e1a0f]">verifyOrderSearchUsingDocType</td> 
  <td>main@712256162</td>   <td></td> </tr>
<tr bgcolor="6366b4">  <td>17/01/09 18:08:10</td>   <td>65859</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HUBSearchDocumentTypeUI.verifyOrderSearchUsingDocType(java.lang.String, java.lang.String)[pri:0, instance:com.sterling.telstra.ui.HUBSearchDocumentTypeUI@394e1a0f]">verifyOrderSearchUsingDocType</td> 
  <td>main@712256162</td>   <td></td> </tr>
<tr bgcolor="6366b4">  <td>17/01/09 18:08:16</td>   <td>71082</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HUBSearchDocumentTypeUI.verifyOrderSearchUsingDocType(java.lang.String, java.lang.String)[pri:0, instance:com.sterling.telstra.ui.HUBSearchDocumentTypeUI@394e1a0f]">verifyOrderSearchUsingDocType</td> 
  <td>main@712256162</td>   <td></td> </tr>
</table>
