<div class="visible-xs-block" style="background-color:#03A9F4" id="headerBlock">
 <!-- <div class="navbar-brand" yield-to="title">-->
          <span><b>{{module}}: {{CloseReceipt_moduleFlow}}</b></span>

<!-- <div class="navbar" style="background-color:#FF8C00">
        <div class="navbar-brand" yield-to="title">
          <span><b>{{module}}: {{receive_moduleFlow}}</b></span>-->
        
        <div class="btn-group pull-right">
          <div data-ng-click="go('/MobileHome')" class="btn">
             <i></i><img src="common/imgs/MenuIcon.bmp" style='width:35px;height:20px;margin-right:0px;margin-top:-7px;'>
          
          </div>         
          <button data-ng-click="logout()" style='height:20px;margin-bottom:0px;margin-top:0px;'>Logout</button>         
        </div>
</div>

 
 
 
 <div style="background-color:#E1F5FE">
  		<div ui-view="CloseReceiptNavigator"></div>
 </div>
  <div style="background-color:#E1F5FE">
       <div ui-view="criteria"></div>
  </div>