<div class="container" >
<form id="cls" class="form-horizontal" role="form"
		name="frmLocationSizeAdd">

<br />
<div class="form-group">
<h4 class="form-label-detail" style="text-align: left">Add Location Size Code</h4>
<div class="form-group">
			<div class="col-sm-4">
				<label class="error-msg">{{ErrorMessage}}</label>
				<label class="info-msg">{{InfoMessage}}</label>
				
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-4">
<label>Location Size Code:</label>
<input type="text" id="cls_locSizeCode" data-ng-model="frmLocationSizeAdd.locSizeCode"  value="{{locationSizeCode}}"  />
<br><label>Description:</label>
<input type="text" id="cls_locSizeCodeDesc" data-ng-model="frmLocationSizeAdd.locSizeCodeDesc"  />
<br><label>Capacity Tracked:</label>
 <input  type="checkbox" data-ng-model="frmLocationSizeAdd.capacityTracked"
     style="width: 50%"  data-ng-click="disableButtons()"    />


<br><label>Single Deep:</label>
 <input type="checkbox" data-ng-model="frmLocationSizeAdd.singleDeep"
     style="width: 50%"  data-ng-disabled="!frmLocationSizeAdd.capacityTracked"    />
 <label>Length :</label>
<input type="text" id="cls_length" data-ng-model="frmLocationSizeAdd.length" data-ng-disabled="!frmLocationSizeAdd.capacityTracked"  />
<br>
<label>Width :</label>
<input type="text" id="cls_width" data-ng-model="frmLocationSizeAdd.width" data-ng-disabled="!frmLocationSizeAdd.capacityTracked" />
<br>
<label>Height:</label>
<input type="text" id="cls_height" data-ng-model="frmLocationSizeAdd.height" data-ng-disabled="!frmLocationSizeAdd.capacityTracked" validate="true" />
<br>
<label>Volume:</label>
<input type="text" id="cls_volume" data-ng-model="frmLocationSizeAdd_volume" data-ng-disabled="true"  />
<br>
<label>Max Weight :</label>
<input type="text" id="cls_maxWeight" data-ng-model="frmLocationSizeAdd.maxWeight" data-ng-disabled="!frmLocationSizeAdd.capacityTracked"  />
<br>
<button data-ng-click="AddLocationSize()">Add</button>
</div></div>
</div>

</form>
</div>