<div class="container" >
<form id="cls" class="form-horizontal" role="form"
		name="frmLocationSizeHome">

<br />
<div class="form-group">
			<div class="col-sm-4">
				<label class="error-msg">{{ErrorMessage}}</label>
				
				
			</div>
		</div>
<div class="form-group">

	<div class="col-sm-4">
	<span class="form-label-detail" style="text-align: left"><h4>Search Criteria</h4></span>
<label>Location Size Code:</label>
<input type="text" id="cls_locationSizeCode" data-ng-model="frmLocationSizeHome.locSizeCode" data-validate="true" />
<br>
<button type="submit" data-ng-click="SearchLocationSize()">Search</button>&nbsp;&nbsp;&nbsp;&nbsp;
<button data-ng-click="AddLocationSize()">Add</button>
</div>

</div>

</form>
</div>