<div class="container" >
<form id="cls" class="form-horizontal" role="form"
		name="frmLocationSizeHome">

<br />
<div class="form-group">
			
<table class="table table-striped pagination" style="width: 80%">
<thead>
<tr>
<th>Size Code</th>
<th>Description</th>
<th>Capacity Tracked</th> 
</tr>
</thead>
<tbody> 
<tr ng-repeat="locSize in LocationSizeList|
  offset: currentPage*itemsPerPage |
  limitTo: itemsPerPage" ng-click="setSelected()">
		<td>{{locSize.LocationSizeCode}}
		</td>
		
		<td>{{locSize.Description}}
		</td>
		
		<td>{{locSize.IsInfiniteCapacity}}
		</td>
	</tr>
	
	</tbody>
	<tfoot>
        <td colspan="3">
          <div>
            <ul  class="pagination">
              <li ng-class="prevPageDisabled()">
                <a href="javascript:void(0)" ng-click="prevPage()"><span aria-hidden="true">&laquo;</span></a>
              </li>
              <li ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                <a href="javascript:void(0)">{{n+1}}</a>
              </li>
              <li ng-class="nextPageDisabled()">
                <a href="javascript:void(0)" ng-click="nextPage()"><span aria-hidden="true">&raquo;</span></a>
              </li>
            </ul>
          </div>
        </td>
      </tfoot>
</table>
</div>
</form></div>

