<div class="container" >

<form id="lsd" class="form-horizontal" role="form"
		name="frmLocationSizeDetails">

<br />

<div class="form-group">
<h4 class="form-label-detail" style="text-align: left">Location Size Code Details</h4>
<br>
 <table style="border: 1px solid black;">
          <tr>
          <th style="border: 1px solid black;border-collapse: collapse; padding: 5px;">
            Location Size Code
           </th> <td style="border: 1px solid black;border-collapse: collapse; padding: 5px;">{{LocationSizeCode}}
            </td>
            </tr>
            <tr>
          <th style="border: 1px solid black;border-collapse: collapse; padding: 5px;">
           Description
           </th> <td style="border: 1px solid black;border-collapse: collapse; padding: 5px;">{{Description}}
            </td>
            </tr>
            <tr>
          <th style="border: 1px solid black;border-collapse: collapse; padding: 5px;">
           Capacity Tracked
           </th> <td style="border: 1px solid black;border-collapse: collapse; padding: 5px;">{{CapacityTracked}}
            </td>
            </tr>
             <tr>
          <th style="border: 1px solid black;border-collapse: collapse; padding: 5px;">
           Single Deep
           </th> <td style="border: 1px solid black;border-collapse: collapse; padding: 5px;">{{IsSingleDeep}}
            </td>
            </tr>
            <tr>
          <th style="border: 1px solid black;border-collapse: collapse; padding: 5px;">
          Length
           </th> <td style="border: 1px solid black;border-collapse: collapse; padding: 5px;">{{Length}} {{DimensionUOM}}
            </td>
            </tr>
              <tr>
          <th style="border: 1px solid black;border-collapse: collapse; padding: 5px;">
          Width
           </th> <td style="border: 1px solid black;border-collapse: collapse; padding: 5px;">{{Width}} {{DimensionUOM}}
            </td>
            </tr>
            <tr>
          <th style="border: 1px solid black;border-collapse: collapse; padding: 5px;">
          Height
           </th> <td style="border: 1px solid black;border-collapse: collapse; padding: 5px;">{{Height}} {{DimensionUOM}}
            </td>
            </tr>
             <tr>
          <th style="border: 1px solid black;border-collapse: collapse; padding: 5px;">
          Max Weight
           </th> <td style="border: 1px solid black;border-collapse: collapse; padding: 5px;">{{MaxWeight}} {{WeightUOM}}
            </td>
            </tr>
             <tr>
          <th style="border: 1px solid black;border-collapse: collapse; padding: 5px;">
         Volume
           </th> <td style="border: 1px solid black;border-collapse: collapse; padding: 5px;">{{Volume}} {{VolumeUOM}}
            </td>
            </tr>
            </table>
            <br>
		<div class="form-group" >
			<div class="col-sm-4">
<button data-ng-click="Modify()">Modify</button>
<button data-ng-click="Delete()">Delete</button>


</div></div>
</div>

</form>
</div>