<div class="container" >
<form id="lsm" class="form-horizontal" role="form"
		name="frmLocationSizeModify">

<br />
<div class="form-group">
<h4 class="form-label-detail" style="text-align: left">Modify Location Size Code</h4>
<div class="form-group">
			<div class="col-sm-4">
				<label class="error-msg">{{ErrorMessage}}</label>
				<label class="info-msg">{{InfoMessage}}</label>
				
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-4">
<label>Location Size Code:</label>
<input type="text" id="lsm_locSizeCode" data-ng-model="frmLocationSizeModify_locSizeCode"     />
<br><label>Description:</label>
<input type="text" id="lsm_locSizeCodeDesc" data-ng-model="frmLocationSizeModify_locSizeCodeDesc"  />
<br><label>Capacity Tracked:</label>
 <input  type="checkbox" style="width: 50%" data-ng-model="frmLocationSizeModify_capacityTracked"
     data-ng-click="disableButtons()"      />
<br><label>Single Deep:</label>
 <input type="checkbox" style="width: 50%" data-ng-model="frmLocationSizeModify_singleDeep"
       data-ng-disabled="!frmLocationSizeModify_capacityTracked"    />
 <br><label>Length :</label>
<input type="text" id="lsm_length" data-ng-model="frmLocationSizeModify_length"  data-ng-disabled="!frmLocationSizeModify_capacityTracked"   />
<br>
<label>Width :</label>
<input type="text" id="lsm_width" data-ng-model="frmLocationSizeModify_width"  data-ng-disabled="!frmLocationSizeModify_capacityTracked" />
<br>
<label>Height:</label>
<input type="text" id="lsm_height" data-ng-model="frmLocationSizeModify_height" validate="true"  data-ng-disabled="!frmLocationSizeModify_capacityTracked" />
<br>
<label>Volume:</label>
<input type="text" id="lsm_volume" data-ng-model="frmLocationSizeModify_volume" data-ng-disabled="true"  />
<br>
<label>Max Weight :</label>
<input type="text" id="lsm_maxWeight" data-ng-model="frmLocationSizeModify_maxWeight"  data-ng-disabled="!frmLocationSizeModify_capacityTracked"  />
<br>
<button data-ng-click="ModifyLocationSize()">Modify</button>
<button data-ng-click="CancelLocationSize()">Cancel</button>
</div></div>
</div>

</form>
</div>