 <div  class="container">
 <!-- div  class="container" style="background-color:#FFF5FE;"-->
  <h3 style="text-align: left">Bridge Console</h3>
  <h1 style="text-align: center;margin-top:5px;height:50px;"><img src='common/imgs/bridge-solutions-group-logo.png' 
  style='width:150px;height:50px;margin-top:0px;'></h1>
 


<div  class="container" style="background-color:#FFFFFE;">
<div class="scrollable">
  <div class="scrollable-content">
    <div class='menu' style="background-color:#CBD0f4;">
    
      <div class="btn-group pull-right">
          <div data-ng-click="go('/menuopt')" class="btn">
             <i></i><img src="common/imgs/MenuIcon.bmp" style='width:35px;height:20px;margin-right:0px;margin-top:-7px;'>
             
          </div>
          <button data-ng-click="logout()" style='height:22px;margin-bottom:0px;margin-top:0px;'>Logout</button>
        </div>
    
      <ui-state id='activeTab' default='1'></ui-state>
      
      <ul class="nav">
        <li ui-class="{'active': activeTab == 1}">
          <a ui-set="{'activeTab': 1}">Inbound<span class="arrow">&#9660;</span></a>
 
                <ul class="sub-menu">
                    <li><a href="#">Inbound Shipment List</a></li>
                    <li><a href="#">Inbound Receipt List</a></li>
                    <li><a href="#">Inspect Receipt</a></li>
                    <li><a href="#">Create Inbound Shipment</a></li>
                </ul>
        </li>
        <li ui-class="{'active': activeTab == 2}">
          <a ui-set="{'activeTab': 2}">Outbound</a>
        </li>
        <li ui-class="{'active': activeTab == 3}">
          <a ui-set="{'activeTab': 3}">Inventory</a>
        </li>
		 <li ui-class="{'active': activeTab == 4}">
          <a ui-set="{'activeTab': 1}">Task</a>
        </li>
        <li ui-class="{'active': activeTab == 5}">
          <a ui-set="{'activeTab': 2}">VAS</a>
        </li>
        <li ui-class="{'active': activeTab == 6}">
          <a ui-set="{'activeTab': 3}" ui-sref="Configuration({CSRFToken:csrf})">Configuration</a>
        </li>
      
      </ul>
       
       
       
    <!--     
        <div class="collapse navbar-collapse" collapse="navCollapsed">
        <ul class="nav navbar-nav">
          <li class="dropdown" dropdown="">
            <a href="#" class="dropdown-toggle" dropdown-toggle="" data-toggle="dropdown">Inbound <b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="#">Inbound Shipment List</a>
              </li>
              <li>
                <a href="#">Inbound Receipt List</a>
              </li>
              <li>
                <a href="#">Inspect Receipt</a>
              </li>
              <li>
                <a href="#">Create Inbound Shipment</a>
              </li>
            </ul>             
          </li>               
          
              
        <li ui-class="{'active': activeTab == 2}">
          <a ui-set="{'activeTab': 2}">Outbound</a>
        </li>
        <li ui-class="{'active': activeTab == 3}">
          <a ui-set="{'activeTab': 3}">Inventory</a>
        </li>
		 <li ui-class="{'active': activeTab == 4}">
          <a ui-set="{'activeTab': 1}">Task</a>
        </li>
        <li ui-class="{'active': activeTab == 5}">
          <a ui-set="{'activeTab': 2}">VAS</a>
        </li>
        <li ui-class="{'active': activeTab == 6}">
          <a ui-set="{'activeTab': 3}">Configuration</a>
        </li>
      
      </ul>
      </div>
      
      -->
      
     </div>
      </div>
</div>
 </div>
 </div>
