 <div class="container">
   <form id="mal" class="form-horizontal" role="form" name="frmManifestAddLPN">

		<div class="form-group">
			<div class="col-sm-4">
				<span class="content-detail-desc right"><label data-i18n="_Node_">Node:&nbsp;</label>{{recevingNode}}</span>
			</div>
		</div>
			<div class="form-group">
			<div class="col-sm-4">
				<span class="error-msg">{{ErrorMessage}}</span>
				<span class="info-msg">{{InfoMessage}}</span> 
			</div>
			</div>
		
	 	<div>
			<label data-i18n="_LPN_">LPN#: </label>
        	<span class="content-detail-desc">{{scannedscm}}</span>
         	<div class="clear"></div>
		</div>
		
	<div class="form-group">
				<div class="col-sm-4">
					<table id="crr_table" data-ng-click="proceed(manifest.ManifestNo, manifest.Scac, manifest.ManifestDate)" class="table-With-All-Borders pointer-cursor" data-ng-repeat="manifest in manifestContext | limitTo: numOfManifestsToBeShown" data-ng-if="manifest.ManifestNo" style="width:100%">

							<tr>						
							<td ><label data-i18n="_Manifest_">ManifestID</label></td>
							<td ><label>:&nbsp;</label><span class="content-desc-With-Less-Font">{{manifest.ManifestNo}}</span></td>
							</tr>
							<tr>
							<td ><label data-i18n="_Carrier_">Carrier</label></td>
							<td ><label>:&nbsp;</label><span class="content-desc-With-Less-Font">{{manifest.Scac}}</span></td>
							</tr>
							<tr>
							<td ><label data-i18n="_ShipDate_">ShipDate</label></td>
							<td ><label>:&nbsp;</label><span class="content-desc-With-Less-Font">{{manifest.ManifestDate | limitTo: GivenLimit}}</span></td>
							</tr>
							<tr>
							<td ><label data-i18n="_Trailer_">Trailer#:</label></td>
							<td ><label>:&nbsp;</label><span class="content-desc-With-Less-Font">{{manifest.TrailerNo}}</span></td>
							</tr>
													
					</table>
				</div>
			</div>
    		 <div class="form-group">
				<div class="col-sm-4">
				
				<button id= "mal_cancel" type="submit" data-ng-click="cancel()" class="pull-left" data-i18n="_CancelButtonLabel_">Cancel</button>

				<div class="clear"></div>
				</div>
			</div>
	 </form> 
   </div>
  
