<div class="container">
<form id="mnf" class="form-horizontal" role="form" name="frmManifestStationOrLPN">

		<div class="form-group">
			<div class="col-sm-4">
				<span class="content-detail-desc right"><label data-i18n="_Node_">Node:&nbsp;</label>{{recevingNode}}</span>
			</div>
		</div>
		
		<div class="form-group">
			<div class="col-sm-4">
		<span class="error-msg">{{ErrorMessage}}</span>
		</div>
		</div>
		
		<div class="form-group">
			<div class="col-sm-4">

				<input type="text" validate="true" id="mnf_station" data-ng-model="frmManifest_station" placeholder="Station"  data-i18n-attr="_Station_|placeholder">
		    </div>
		</div>
					

        <div class="form-group">
			<div class="col-sm-4">
				
				<input type="text" validate="true" id="mnf_LPN" data-ng-model="frmManifest_LPN" placeholder="LPN"  data-i18n-attr="_LPN_|placeholder">
				
			</div>
		</div>
		
			
			<div class="form-group">
			<div class="col-sm-4">
				<button type="submit" id = "mnf_next" data-ng-click="next()" class="button_receive_small left" data-i18n="_NextButtonLabel_">Next</button>

				<div class="clear"></div>
			</div>
		</div>
</form>

</div>