 <div class="container">
   <form id="mrl" class="form-horizontal" role="form" name="frmManifestRemoveLPN">

     		<div class="form-group">
			<div class="col-sm-4">
				<span class="content-detail-desc right"><label data-i18n="_Node_">Node:&nbsp;</label>{{recevingNode}}</span>
			</div>
		</div>
			<div class="form-group">
			<div class="col-sm-4">
				<span class="error-msg">{{ErrorMessage}}</span>
				<span class="info-msg">{{InfoMessage}}</span> 
			</div>
			</div>
     
	 <div class="form-group relative">  
     	<div class="col-sm-4"> 
        	<label data-i18n="_LPN_">LPN#: </label>
        	<span class="content-detail-desc">{{scannedscm}}</span>
         	<div class="clear"></div>
         	<label data-i18n="_Manifest_">Manifest: </label>
        	<span class="content-detail-desc">{{manifestno}}</span>
         	<div class="clear"></div>
         	<label data-i18n="_Carrier_">Carrier: </label>
        	<span class="content-detail-desc">{{Scac}}</span>
         	<div class="clear"></div>
         	<label data-i18n="_ShipDate_">ShipDate: </label>
        	<span class="content-detail-desc">{{manifestdate}}</span>
         	<div class="clear"></div>
         	<br />
		</div>
	 </div>
	 
	
       <div class="form-group">
			<div class="col-sm-4">
				<button id= "mrl_cancel" type="submit" data-ng-click="cancel()" class="pull-left" data-i18n="_CancelButtonLabel_">Cancel</button>

				<button id= "mrl_remove" type="submit" data-ng-click="removelpn()" class="pull-right" data-i18n="_RemoveLPNButtonLabel_">Remove LPN</button>

				<div class="clear"></div>
			</div>
		</div>
   </form> 
</div>