<div ng-repeat="x in navigatorMenu">
        <div ng-switch on="isActive(x, Manifest_NavActive)">
            <div ng-switch-when="true"></div>
             </div>
 </div> 
 
 
 <!-- div class="wrapper_nav" ng-repeat="x in navigatorMenu">
        <div ng-switch on="isActive(x, receive_NavActive)">
            <div ng-switch-when="true" class="navigator_active">{{x.state}}</div>
            <div ng-switch-default class="navigator">{{x.state}}</div>
        </div>
 </div--> 
 
