<!-- <div style="background-color:#03A9F4">-->
<!-- Below code for scrollable Menu Layout -->
   <div style="background-color:#E1F5FE">
  <h1 style="text-align: center;margin-top:0px;height:50px;"><img src='common/imgs/bridge-solutions-group-logo.png' 
  style='width:150px;height:50px;margin-top:2px;'></h1>
   <div class="scrollable-content" style="background-color:#E1F5FE">

 <a class="list-group-item" ui-sref="Settings.changenode({CSRFToken:csrf})"><font size='3' data-i18n="_Change Node_">Change Node</font></a>
   	  <a class="list-group-item" ui-sref="Settings.changepass({CSRFToken:csrf})"><font size='3' data-i18n="_Change Password_" >Change Password</font></a>
      <a class="list-group-item" ui-sref="Settings.trace({CSRFToken:csrf})"><font size='3' data-i18n="_Trace Options_">Trace Options</font></a>
      <a class="list-group-item" ui-sref="Settings.misc({CSRFToken:csrf})"><font size='3' data-i18n="_Misc_">Misc</font></a>
 
 
 </div>    
  </div>


