<!-- <div style="background-color:#03A9F4">-->
<div class="container">
	<form id="set" class="form-horizontal" role="form" name="frmSettingschangenode">

		<div class="form-group">

			<div class="col-sm-4">
				<!-- <label><b>Select a value from dropdown</b></label>-->
				
				<div class="clear"></div><br>
				 <span class="form-control-content">{{InfoMessage1}}</span>
				 <div class="clear"></div>
				<label>Node</label>
				<div class="clear"></div><br />

					
				
				
				
				 <select name="set_nodeSelect" id="set_nodeSelect"
					data-ng-model="frmSettingschangenode.set_nodeSelect" data-ng-options="shipNodeVal.ShipNode as shipNodeVal.ShipNode for shipNodeVal in shipNodeContext">
					
				</select>
				<div class="clear"></div>
				 <span style="color:red" class="form-control-content">{{ErrorMessage1}}</span>
				<br>
				<button type="submit" data-ng-click="saveNodeChange()">Save</button>
				<button type="submit" data-ng-click="go('/Settings')">Back</button>
			</div>
		</div>

		<!--div class="form-group" style="background-color: d6d6c9;">

			<div class="col-sm-4">
				<label><b>Change Password</b></label>
				
				<div class="clear"></div><br>
				 <span class="form-control-content">{{InfoMessage}}</span>
				 <div class="clear"></div>
				<label>Existing Password</label>
				<div class="clear"></div>
				<input type="password" id="set_existingPassword"
					data-ng-model="frmSettings.set_existingPassword">
					<div class="clear"></div>
				<label>New Password</label>
				<div class="clear"></div>
				<input type="password" id="set_newPassword"
					data-ng-model="frmSettings.set_newPassword">
				<div class="clear"></div>
				<label>Confirm Password</label>
				<div class="clear"></div>
				<input type="password" id="set_confirmPassword"
				data-ng-model="frmSettings.set_confirmPassword">
				<div class="clear"></div>
				 <span style="color:red" class="form-control-content">{{ErrorMessage}}</span>
				 <div class="clear"></div>
				<br>
				<button type="submit" data-ng-click="savePassword()">Save</button>
			</div>
		</div-->

	</form>
</div>
