
<div class="container">
	<form id="set" class="form-horizontal" role="form" name="frmSettingschangepass">

		<!--div class="form-group" style="background-color: d6d6c9;">

			<div class="col-sm-4">
				<label><b>Change Node</b></label>
				
				<div class="clear"></div><br>
				 <span class="form-control-content">{{InfoMessage1}}</span>
				 <div class="clear"></div>
				<label>Node</label>
				<div class="clear"></div>
				<select name="set_nodeSelect" id="set_nodeSelect"
					data-ng-model="frmSettingschangepass.set_nodeSelect" data-ng-options="shipNodeVal.ShipNode as shipNodeVal.ShipNode for shipNodeVal in shipNodeContext" >
					
				</select>
				<div class="clear"></div>
				 <span style="color:red" class="form-control-content">{{ErrorMessage1}}</span>
				<br>
				<button type="submit" data-ng-click="saveNodeChange()">Save</button>
			</div>
		</div-->

		<div class="form-group">

			<div class="col-sm-4">
				<!-- <label><b>Change User Password by providing existing and new password details</b></label>-->
				
				<div class="clear"></div><br>
				 <span style="color:red" class="error-msg">{{InfoMessage}}</span>
				 <div class="clear"></div>
				<!-- <label>Existing Password</label>-->
				<div class="clear"></div>
				<input type="password" id="set_existingPassword"
					data-ng-model="frmSettingschangepass.set_existingPassword" placeholder="Existing Password">&nbsp;&nbsp;&nbsp;&nbsp;
					<div class="clear"></div>
				<!-- <label>New Password</label>-->
				<div class="clear"></div>
				<input type="password" id="set_newPassword"
					data-ng-model="frmSettingschangepass.set_newPassword" placeholder="New Password">&nbsp;&nbsp;&nbsp;&nbsp;
				<div class="clear"></div>
				<!-- <label>Confirm Password</label>-->
				<div class="clear"></div>
				<input type="password" id="set_confirmPassword"
				data-ng-model="frmSettingschangepass.set_confirmPassword" placeholder="Confirm Password">&nbsp;&nbsp;&nbsp;&nbsp;
				<div class="clear"></div>
				 <span class="error-msg">{{ErrorMessage}}</span>
				 <div class="clear"></div>
				<br>
				<button type="submit" data-ng-click="savePassword()">Save</button>
				<button type="submit" data-ng-click="go('/Settings')">Back</button>
			</div>
		</div>

	</form>
</div>
