<div class="container">
	<form id="set" class="form-horizontal" role="form" name="frmSettingsenabletrace">
		<div class="form-group">
			<div class="col-sm-4">
			
			    <button ng-click="SaveLog()" ng-if="SuperAcessMode">Save Log</button>
			
			    <div class="clear"></div>
				<label>Node</label>
				<div class="clear"></div><br />

				 <select name="set_nodeSelect" ng-change="selectNode()" id="set_nodeSelect"
					data-ng-model="frmSettingschangenode.set_nodeSelect" data-ng-options="shipNodeVal.ShipNode as shipNodeVal.ShipNode for shipNodeVal in shipNodeContext">
					
				</select>
				
				
				<div class="clear"></div>
				<br/>
				<br/>
				<p ng-if="SuperAcessMode">Users::::</p>
				<div ng-dropdown-multiselect="" options="loggedInUsers" selected-model="LoggedUserList" ng-if="SuperAcessMode"></div>
				<div class="clear"></div>
				
		
                
                
                <p>States:::</p>
				
				<div ng-dropdown-multiselect=""  options="app_states" selected-model="loggerHirerachy"></div>

			</div>
		</div>
					<div style="margin-top:70%">
				<button type="submit"  data-ng-click="go('/Settings')">Back</button>
			</div>
	</form>
</div>