
	@media (max-width:319px)
	{img{width:25%;height:15%}
    }
    @media (min-width:320px)
	{img{width:15%;height:12%}
    }@media (min-width:768px)
	{img{width:15%;height:12%}
    }@media (min-width:1200px)
	{img{width:10%;height:12%}
    }

.btn_menu{
	color:#000000;
	background-color: #286496;
    border-color: #000000;
    width:80px;
    height:60px;
	font-family: inherit;
	display:inline-block;
	padding:1px 1px;
	margin-left:0;
	margin-bottom:10px;
	font-size:12px;
	font-weight:400;
	line-height:1.42857143;
	text-align:center;
	white-space:wrap;
	vertical-align:middle;
	-ms-touch-action:manipulation;
	touch-action:manipulation;
	cursor:pointer;
	-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;
	border:1px solid;border-radius:4px;
	word-wrap:break-word}
	@media (max-width:240px)
	{.btn_menu{height:55px;width:55px; margin: 2px;}
    }
    @media (min-width:320px)
	{.btn_menu{height:80px;width:80px; margin: 2.5px;}
    }
    @media (min-width:400px)
	{.btn_menu{height:105px;width:105px; margin: 3px;}
    }@media (min-width:768px)
	{.btn_menu{height:110px;width:110px; margin: 3px;}
    }@media (min-width:1200px)
	{.btn_menu{height:110px;width:110px; margin: 3px;}
    }
.btn_menu:hover{background-color:#03A9F4}



label{
    color:#333;
    position:relative;
    min-height:1px;
    margin-bottom:0px;
    margin-left:0px;
    vertical-align:middle;
    font-weight: 700;
    display: inline-block
    }@media (max-width:319px)
	{label{font-size:15px}
    }
    @media (min-width:320px)
	{label{font-size:12px}
    }@media (min-width:768px)
	{label{font-size:14px}
    }@media (min-width:1200px)
	{label{font-size:15px}
    }

th{
	    font-weight: bold;
	    text-align: left;
	    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    	font-size: 14px;
}@media (max-width:319px)
	{th{font-size:8px}
    }
    @media (min-width:320px)
	{th{font-size:10px}
    }@media (min-width:768px)
	{th{font-size:12px}
    }@media (min-width:1200px)
	{th{font-size:15px}
    }


button{
	color:#FFFFFF;
	background-color: #286496;
    border-color: #269abc;
    width:80px;
    height:60px;
	font-family: inherit;
	display:inline-block;
	padding:1px 1px;
	margin-left:0;
	margin-bottom:10px;
	font-size:10px;
	font-weight:400;
	line-height:1.42857143;
	text-align:center;
	white-space:wrap;
	vertical-align:middle;
	-ms-touch-action:manipulation;
	touch-action:manipulation;
	cursor:pointer;
	-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;
	border:1px solid transparent;border-radius:4px;
	word-wrap:break-word}
	@media (max-width:240px)
	{button{height:20px;font-size:10px;}
    }
    @media (min-width:320px)
	{button{height:30px;font-size:12px;}
    }@media (min-width:768px)
	{button{height:36px;font-size:14px;}
    }@media (min-width:1200px)
	{button{height:36px;font-size:14px;font-weight:100;}
    }

button[disabled] {
   background-color: #ddd;
}


input::-webkit-input-placeholder { font-size: 10pt; color: #c0c0c0; }
input::-moz-placeholder { font-size: 10pt; color: #c0c0c0; }
input:-ms-input-placeholder { font-size: 10pt; color: #c0c0c0; }
input:-moz-placeholder { font-size: 10pt; color: #c0c0c0; }

input{
	display:block;width:100%;height:34px;padding:6px 12px;font-size:14px;line-height:1.42857143;color:#555;background-color:#fff;
	background-image:none;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s; margin-bottom:0px;}
	@media (max-width:240px)
	{input{height:20px;font-size:10px}
    }
    @media (min-width:320px)
	{input{height:30px;;font-size:15px}
    }@media (min-width:768px)
	{input{height:35px;font-size:20px}
    }@media (min-width:1200px)
	{input{height:35px;font-size:20px}
    }

.form-horizontal .radio,.form-horizontal .checkbox,.form-horizontal .radio-inline,.form-horizontal .checkbox-inline{
	padding-top:7px;margin-top:0;margin-bottom:0
}
.form-group{
	margin-bottom:15px
}
.form-horizontal .form-group {
    margin-right: -15px;
    margin-left: -15px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.navbar{position:relative;min-height:50px;margin-bottom:20px;border:1px solid transparent}@media (min-width:768px){.navbar{border-radius:4px}}@media (min-width:768px){.navbar-header{float:left}}
.navbar-brand{float:left;height:50px;padding:15px 15px;font-size:18px;line-height:20px}
.btn-group,.btn-group-vertical{position:relative;display:inline-block;vertical-align:middle}
.pull-left{padding-right:10px}
.pull-right{padding-left:10px}
.scrollable-header{
	text-align: center;margin-top:0px;height:45px;
	max-height:340px;overflow-y:scroll
}
.wrapper_item_diemension {
	width :100%;
	height: 30px;
	padding: 0px;
	margin: 11px 0px;
	background: #c0c0c0 none no-repeat scroll 0px 0px;
}
.wrapper_item_dim {
	padding: 0px;
	margin: 0px;
	width: 30%;
	height: 60px;
}
.item_unit {
   padding: 35px 0px 0px 0px;
   margin: 0px;
   width: 10%;
   vertical-align: text-bottom;
   height: 17px;
   font-weight: 700;
 }
 
.app-name {
  position: relative;
  width: 100%;
  line-height: 70px;
  padding: 0 10px;
  font-size: 23px;
  color: #ffffff;
  margin: 0;
  z-index: 10;
}
.content-detail-desc {
	padding: 0px;
	margin: 0px;
	font-weight: 200;
	color: #8E8E7C;
	vertical-align:middle;
	font-size:12px;
}
.form-label-detail {
	padding: 0px;
	margin: 0px;
	font-weight: 600;
	color: #8E8E7C;
}
.scrollable-content{width:100%;height:100%;overflow:auto;-webkit-overflow-scrolling:touch}
.list-group{padding-left:0;margin-bottom:20px}
.list-group-item{position:relative;display:block;padding:10px 15px;margin-bottom:-1px;background-color:#E1F5FE;border:1px solid #ddd}
.list-group-item:focus {
    color: #555;
    text-decoration: none;
    background-color: #99CCCC;
}
/* a.list-group-item:hover{color:#ffffff;text-decoration:none;background-color:#276496} 
a.list-group-item:focus{color:#555;text-decoration:none;background-color:#007aff} */
a.list-group-item:hover{color:#ffffff;text-decoration:none;background-color:#03A9F4}
a.list-group-item:focus{color:#555;text-decoration:none;background-color:#03A9F4}
.pull-right{float:right!important}
/* .fa-chevron-right:before {
  content: "\f054";
} */

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;background-color:"#000000"}@media (min-width:768px)
{.container{width:750px}}@media (min-width:992px){.container{width:970px}}@media (min-width:1200px){.container{width:1170px}}
.col-xs-1,.col-sm-1,.col-md-1,.col-lg-1,.col-xs-2,.col-sm-2,.col-md-2,.col-lg-2,.col-xs-3,.col-sm-3,.col-md-3,.col-lg-3,.col-xs-4,.col-sm-4,.col-md-4,.col-lg-4,.col-xs-5,.col-sm-5,.col-md-5,.col-lg-5,.col-xs-6,.col-sm-6,.col-md-6,.col-lg-6,.col-xs-7,.col-sm-7,.col-md-7,.col-lg-7,.col-xs-8,.col-sm-8,.col-md-8,.col-lg-8,.col-xs-9,.col-sm-9,.col-md-9,.col-lg-9,.col-xs-10,.col-sm-10,.col-md-10,.col-lg-10,.col-xs-11,.col-sm-11,.col-md-11,.col-lg-11,.col-xs-12,.col-sm-12,.col-md-12,.col-lg-12{position:relative;min-height:1px;padding-right:15px;padding-left:15px}
.col-sm-offset-2{margin-left:16.66666667%}


Pseudo ::before element
.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
    display: table;
    content: " ";
}
:before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}Inherited from 
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
Inherited from 
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

.visible-xs,.visible-sm,.visible-md,.visible-lg{display:none!important}.visible-xs-block,.visible-xs-inline,.visible-xs-inline-block,.visible-sm-block,.visible-sm-inline,
.visible-sm-inline-block,.visible-md-block,.visible-md-inline,.visible-md-inline-block,.visible-lg-block,.visible-lg-inline,
.visible-lg-inline-block{display:none!important}@media (max-width:767px){.visible-xs{display:block!important}table.visible-xs{display:table}tr.visible-xs{display:table-row!important}th.visible-xs,td.visible-xs{display:table-cell!important}}@media (max-width:767px){.visible-xs-block{display:block!important}}@media (max-width:767px){.visible-xs-inline{display:inline!important}}@media (max-width:767px){.visible-xs-inline-block{display:inline-block!important}}@media (min-width:768px) and (max-width:991px){.visible-sm{display:block!important}table.visible-sm{display:table}tr.visible-sm{display:table-row!important}th.visible-sm,td.visible-sm{display:table-cell!important}}@media (min-width:768px) and (max-width:991px){.visible-sm-block{display:block!important}}@media (min-width:768px) and (max-width:991px){.visible-sm-inline{display:inline!important}}@media (min-width:768px) and (max-width:991px){.visible-sm-inline-block{display:inline-block!important}}@media (min-width:992px) and (max-width:1199px){.visible-md{display:block!important}table.visible-md{display:table}tr.visible-md{display:table-row!important}th.visible-md,td.visible-md{display:table-cell!important}}@media (min-width:992px) and (max-width:1199px){.visible-md-block{display:block!important}}@media (min-width:992px) and (max-width:1199px){.visible-md-inline{display:inline!important}}@media (min-width:992px) and (max-width:1199px){.visible-md-inline-block{display:inline-block!important}}@media (min-width:1200px){.visible-lg{display:block!important}table.visible-lg{display:table}tr.visible-lg{display:table-row!important}th.visible-lg,td.visible-lg{display:table-cell!important}}@media (min-width:1200px){.visible-lg-block{display:block!important}}@media (min-width:1200px){.visible-lg-inline{display:inline!important}}@media (min-width:1200px){.visible-lg-inline-block{display:inline-block!important}}@media (max-width:767px){.hidden-xs{display:none!important}}@media (min-width:768px) and (max-width:991px){.hidden-sm{display:none!important}}@media (min-width:992px) and (max-width:1199px){.hidden-md{display:none!important}}@media (min-width:1200px){.hidden-lg{display:none!important}}.visible-print{display:none!important}@media print{.visible-print{display:block!important}table.visible-print{display:table}tr.visible-print{display:table-row!important}th.visible-print,td.visible-print{display:table-cell!important}}.visible-print-block{display:none!important}@media print{.visible-print-block{display:block!important}}.visible-print-inline{display:none!important}@media print{.visible-print-inline{display:inline!important}}.visible-print-inline-block{display:none!important}@media print{.visible-print-inline-block{display:inline-block!important}}@media print{.hidden-print{display:none!important}}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
b {
	font-weight: bold;
}
.table-With-All-Borders {
    border: 1px solid #000000;
    padding: 5px; 
    border-collapse: separate;
    border-spacing: 3px;
}
.table-With-Less-Font{
	font-size:13px;
}    
.content-desc-With-Less-Font {
	font-size:13px;
	padding: 0px;
	margin: 0px;
	font-weight: 600;
	color: #8E8E7C;
}
.priority-urgent{
	background-color: #810541;
	width:8px
}
.priority-high{
	background-color: #E56717;
	width:8px
}
.priority-normal{
	background-color: #FBB117;
	width:8px
}
.priority-low{
	background-color: #B2C248;
	width:8px
}
.table-With-All-Borders-No-Padding {
    border: 1px solid #000000; 
    border-collapse: separate;
    border-spacing: 3px;
}
.pointer-cursor{
	cursor:pointer;
}
[ng-click]{
	cursor:pointer;
}
[data-ng-click]{
	cursor:pointer;
}
.underline{
	text-decoration: underline;	
}
select{
	display:block;width:100%;height:34px;padding:6px 12px;font-size:14px;line-height:1.42857143;color:#555;background-color:#fff;
	background-image:none;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s; margin-bottom:5px;}
	@media (max-width:319px)
	{select{height:12px}
    }
    @media (min-width:320px)
	{select{height:24px;font-size:10px;}
    }@media (min-width:768px)
	{select{height:24px}
    }@media (min-width:1200px)
	{select{height:30px}
    }
    
    .dropdown {
  position: relative;
}

.dropdown-menu {
  display: block;
}

.error-msg{
	color:red;
	font-size:14px;
}

/**********************Console Menu************************/
.clearfix:after {
    display:block;
    clear:both;
}
 
/*----- Menu Outline -----*/

 
.menu {
    width:1000px;
    margin:0px auto;
    color:grey;
}
 
.menu li {
    margin:0px;
    list-style:none;
    
}
 
.menu a {
    transition:all linear 0.15s;
    color:#919191;
}
 
.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    color:#000000;
}
 
.menu .arrow {
    font-size:11px;
    line-height:0%;
}
 
/*----- Top Level -----*/
.menu > ul > li {
    float:left;
    display:inline-block;
    position:relative;
    font-size:19px;
}
 
.menu > ul > li > a {
    padding:10px 40px;
    display:block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
    font-size:14px;
}
 
.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background:#E1F5FE;
}
 
/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
}
 
.sub-menu {
    width:160%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#E1F5FE;
}
 
.sub-menu li {
    display:block;
    font-size:16px;
}
 
.sub-menu li a {
    padding:10px 30px;
    display:block;
    font-size:14px;
}
 
.sub-menu li a:hover, .sub-menu .current-item a {
    background:#03A9F4;
}

/* Multi-Step try */
 /*
 ol{
 counter-reset: item;
 display: inline-block;
 font:normal 14px helvetica, arial, sans-serif;
 margin: 20px;
 }
 
 li {
 color:#c0c0c0;
 display: block;
 float:left;
 margin-right: 1em;
 }
 
 li :before { 
	content: counter(item); 
	counter-increment: item;
	display: inline-block; 
	text-align: center;
	line-height: 25px; 
	width: 25px;
	height:25 px;
	background-color: #000080;
	border-radius: 50%;
	marign-right: .5em;
	margin-bottom: .25em;
	color: #fff;
	font-size: 13px;
	font-weight: bold;
 }*/
 
 .info-msg{color:blue; font-size:12px}
 
 <!--.visible-xxs-block,.visible-xxs-inline,.visible-xxs-inline-block{display:none!important}@media (max-width:399px){.visible-xxs{display:block}table.visible-xxs{display:table!important}tr.visible-xxs{display:table-row!important}td.visible-xxs,th.visible-xxs{display:table-cell!important}}@media (max-width:399px){.visible-xxs-block{display:block!important}}@media (min-width:400px) and (max-width:767px){.visible-xs{display:block!important}table.visible-xs{display:table!important}tr.visible-xs{display:table-row!important}td.visible-xs,th.visible-xs{display:table-cell!important}}@media (min-width:400px) and (max-width:767px){.visible-xs-block{display:block!important}}@media (min-width:400px) and  (max-width:767px){.visible-xs-inline{display:inline!important}}@media (min-width:400px) and (max-width:767px){.visible-xs-inline-block{display:inline-block!important}}@media (max-width:399px){.hidden-xxs{display:none!important}}@media (min-width:400px) and (max-width:767px){.hidden-xs{display:none!important}}-->
 
 .visible-lg,.visible-md,.visible-sm,.visible-xs{display:none!important}.visible-lg-block,.visible-lg-inline,.visible-lg-inline-block,.visible-md-block,.visible-md-inline,.visible-md-inline-block,.visible-sm-block,.visible-sm-inline,.visible-sm-inline-block,.visible-xs-block,.visible-xs-inline,.visible-xs-inline-block,
.visible-xxs-block,.visible-xxs-inline,.visible-xxs-inline-block{display:none!important}@media (max-width:399px){.visible-xxs{display:block}table.visible-xxs{display:table!important}tr.visible-xxs{display:table-row!important}td.visible-xxs,th.visible-xxs{display:table-cell!important}}@media (max-width:399px){.visible-xxs-block{display:block!important}}@media (min-width:400px) and 
(max-width:767px){.visible-xs{display:block!important}table.visible-xs{display:table!important}tr.visible-xs{display:table-row!important}td.visible-xs,th.visible-xs{display:table-cell!important}}@media (min-width:400px) and (max-width:767px){.visible-xs-block{display:block!important}}@media (min-width:400px) and  (max-width:767px){.visible-xs-inline{display:inline!important}}@media (min-width:400px) and (max-width:767px){.visible-xs-inline-block{display:inline-block!important}}
@media (min-width:768px) and (max-width:991px){.visible-sm{display:block!important}table.visible-sm{display:table!important}tr.visible-sm{display:table-row!important}td.visible-sm,th.visible-sm{display:table-cell!important}}@media (min-width:768px) and (max-width:991px){.visible-sm-block{display:block!important}}@media (min-width:768px) and (max-width:991px){.visible-sm-inline{display:inline!important}}@media (min-width:768px) and (max-width:991px){.visible-sm-inline-block{display:inline-block!important}}@media (min-width:992px) and (max-width:1199px){.visible-md{display:block!important}table.visible-md{display:table!important}tr.visible-md{display:table-row!important}td.visible-md,th.visible-md{display:table-cell!important}}@media (min-width:992px) and (max-width:1199px){.visible-md-block{display:block!important}}@media (min-width:992px) and (max-width:1199px){.visible-md-inline{display:inline!important}}@media (min-width:992px) and (max-width:1199px){.visible-md-inline-block{display:inline-block!important}}@media (min-width:1200px){.visible-lg{display:block!important}table.visible-lg{display:table!important}tr.visible-lg{display:table-row!important}td.visible-lg,th.visible-lg{display:table-cell!important}}@media (min-width:1200px){.visible-lg-block{display:block!important}}@media (min-width:1200px){.visible-lg-inline{display:inline!important}}@media (min-width:1200px){.visible-lg-inline-block{display:inline-block!important}}
@media (max-width:399px){.hidden-xxs{display:none!important}}@media (min-width:400px) and (max-width:767px){.hidden-xs{display:none!important}}@media (min-width:768px) and (max-width:991px){.hidden-sm{display:none!important}}@media (min-width:992px) and (max-width:1199px){.hidden-md{display:none!important}}@media (min-width:1200px){.hidden-lg{display:none!important}}
