<div class="row" style="height:100%;">
 <div class="col-xs-6 col-sm-3 " style="height:100vh; background-color: #3B3B40">
 <div class = "sidebar sidebar-left ng-scope">
 <div class="scrollable ng-scope">
 <h1 class = "app-name">Bridge Manager</h1>

 <div class = "list-group">
 <br><a class = "list-group-item" ui-sref="Configuration.LocationSize"><h4>&nbsp;&nbsp;Location Size Code
 <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span></h4></a>
 <br><a class = "list-group-item" ><h4>&nbsp;&nbsp;Zone
 <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span></h4></a>
 <br><a class = "list-group-item" ui-sref="Configuration.Location"><h4>&nbsp;&nbsp;Location
 <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span></h4></a>
 <br><a class = "list-group-item" ><h4>&nbsp;&nbsp;Equipment
 <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span></h4></a>
 
 
 </div>
 </div>
 </div>
 </div>
  <div class="col-xs-12 col-sm-6 col-md-8" style="height: 100vh" >
  
       <div ui-view="criteria"></div>
 
  </div>
</div>



