<BODY xmlns:lxslt="http://xml.apache.org/xslt" topmargin="0" leftmargin="0">
   <BR/>
   <font> Order Number: Y100000500<BR/>
      <BR/>
   </font>
   <BR/>
   <font> CustomerID: BUYER1<BR/>
      <BR/>
   </font>
   <BR/>
   <font> Order Created Date/Time: 2017-07-04T14:30:42-04:00<BR/>
      <BR/>
   </font>
   <BR/>
   <font> Status: 1100.40<BR/>
      <BR/>
   </font>
   <p/>
   <br/>
   <b>Items in this order</b>
   <table class="table">
      <thead>
         <tr>
            <td class="tablecolumnheader">
				Item#
			</td>
            <td class="tablecolumnheader">
				SPR#
			</td>
            <td class="tablecolumnheader">
				Serial#
			</td>
            <td class="tablecolumnheader" style="text-align:right;">
				Quantity
			</td>
            <td WIDTH="30%"/>
         </tr>
      </thead>
      <tr>
         <td>NOR-00002</td>
         <td/>
         <td/>
         <td>4.00</td>
         <td>NOR-00001</td>
         <td/>
         <td/>
         <td>4.00</td>
      </tr>
   </table>
   <BR/>
   <font> Carrier: FedEx Ground<BR/>
      <BR/>
   </font>
   <BR/>
   <font> Payment: BUYER1<BR/>
      <BR/>
   </font>
   <BR/>
   <font> Freight Terms: <BR/>
      <BR/>
   </font>
   <BR/>
   <font> Comments: 1100.40<BR/>
      <BR/>
   </font>
   <BR/>
   <font> Special Instructions: 1100.40<BR/>
      <BR/>
   </font>
   <BR/>
   <font> Warehouse: DC1<BR/>
      <BR/>
   </font>
</BODY>