<BODY xmlns:lxslt="http://xml.apache.org/xslt" topmargin="0" leftmargin="0">
   <BR/>
   <BR/>
   <font> ASN Number: 100000364<BR/>
      <BR/>
      <BR/>
   </font>
   <BR/>
   <BR/>
   <font> Status: Putaway at 20170705 00:00hrs<BR/>
      <BR/>
      <BR/>
   </font>
   <font> Subject Date: 050717<BR/>
      <BR/>
      <BR/>
   </font>
   <p/>
   <br/>
   <b>Items in this order</b>
   <table class="table">
      <thead>
         <tr>
            <td class="tablecolumnheader">
				Item#
			</td>
            <td class="tablecolumnheader">
				SPR#
			</td>
            <td class="tablecolumnheader">
				Serial#
			</td>
            <td class="tablecolumnheader" style="text-align:right;">
				Quantity
			</td>
            <td WIDTH="30%"/>
         </tr>
      </thead>
      <tr>
         <td>TAGST-L01</td>
         <td>2017S1</td>
         <td>LOT10</td>
         <td>1.00</td>
      </tr>
      <tr>
         <td>TAGST-L01</td>
         <td>2017S2</td>
         <td>LOT20</td>
         <td>1.00</td>
      </tr>
      <tr>
         <td>TAGST-L01</td>
         <td>2017S3</td>
         <td>LOT30</td>
         <td>1.00</td>
      </tr>
      <tr>
         <td>ST-000001</td>
         <td>S10</td>
         <td/>
         <td>1.00</td>
      </tr>
      <tr>
         <td>ST-000001</td>
         <td>S11</td>
         <td/>
         <td>1.00</td>
      </tr>
   </table>
   <BR/>
   <BR/>
   <font> Warehouse: DC1<BR/>
      <BR/>
   </font>
</BODY>