<BODY xmlns:lxslt="http://xml.apache.org/xslt" leftmargin="0" topmargin="0"><BR/><BR/><font> ASN Number: 100000365<BR/><BR/></font><font> Status: Putaway at: 20170706 00:0<BR/><BR/></font><p/><table class="table"><thead><tr><td class="tablecolumnheader">
				Item#
			</td><td class="tablecolumnheader">
				SPR#
			</td><td class="tablecolumnheader">
				Serial#
			</td><td style="text-align:right;" class="tablecolumnheader">
				Quantity
			</td><td WIDTH="30%"/></tr></thead><tr><td>TAGST-L01</td><td>Serial1</td><td>LOT1</td><td>1.00</td></tr><tr><td>TAGST-L01</td><td>Serial3</td><td>LOT3</td><td>1.00</td></tr><tr><td>ST-000001</td><td>01</td><td/><td>1.00</td></tr><tr><td>ST-000001</td><td>02</td><td/><td>1.00</td></tr><tr><td>TAGST-L01</td><td>Serial2</td><td>LOT2</td><td>1.00</td></tr></table><BR/><BR/><font> Warehouse: DC1<BR/><BR/></font></BODY>