<BODY xmlns:lxslt="http://xml.apache.org/xslt" leftmargin="0" topmargin="0"><BR/><BR/><font> Order Number: <BR/><BR/></font><font> CustomerID: <BR/><BR/></font><font> Order Created Date/Time:  hrs<BR/><BR/></font><font> Status: Shipment Packed at 20170706 hrs<BR/><BR/></font><p/><table class="table"><thead><tr><td class="tablecolumnheader">
				Item#
			</td><td class="tablecolumnheader">
				SPR#
			</td><td class="tablecolumnheader">
				Serial#
			</td><td style="text-align:right;" class="tablecolumnheader">
				Quantity
			</td><td WIDTH="30%"/></tr></thead><tr><td>NOR-00002</td><td/><td/><td>5.00</td></tr></table><font> Carrier: EUROPE UPS EXPRESS<BR/><BR/></font><font> Payment: Non Commercial Shipment<BR/><BR/></font><font> Freight Terms: PREPAID<BR/><BR/></font><font> Warehouse: DC1<BR/><BR/></font></BODY>