<BODY xmlns:lxslt="http://xml.apache.org/xslt" leftmargin="0" topmargin="0"><BR/><BR/><font> ASN Number: 100000361<BR/><BR/><BR/></font><BR/><BR/><font> Status: Putaway at 2017-07-04T00:00:00-04:00<BR/><BR/><BR/></font><p/><br/><b>Items in this order</b><table class="table"><thead><tr><td class="tablecolumnheader">
				Item#
			</td><td class="tablecolumnheader">
				SPR#
			</td><td class="tablecolumnheader">
				Serial#
			</td><td style="text-align:right;" class="tablecolumnheader">
				Quantity
			</td><td WIDTH="30%"/></tr></thead><tr><td>TAGST-L01</td><td>01</td><td>LOT</td><td>1.00</td></tr><tr><td>TAGST-L01</td><td>02</td><td>LOT</td><td>1.00</td></tr><tr><td>ST-000001</td><td>S1</td><td/><td>1.00</td></tr><tr><td>ST-000001</td><td>S2</td><td/><td>1.00</td></tr></table><BR/><BR/><font> Warehouse: DC1<BR/><BR/></font>
	
	
	Sincerely,<BR/>
Customer Service Manager.<BR/></BODY>