<BODY xmlns:lxslt="http://xml.apache.org/xslt" topmargin="0" leftmargin="0">
   <BR/>
   <BR/>
   <font> Order Number: Y100000501<BR/>
      <BR/>
   </font>
   <font> CustomerID: <BR/>
      <BR/>
   </font>
   <font> Order Created Date/Time: 20170705 14:10hrs<BR/>
      <BR/>
   </font>
   <font> Status: Awaiting Routing at 20170705 14:10hrs<BR/>
      <BR/>
   </font>
   <p/>
   <table class="table">
      <thead>
         <tr>
            <td class="tablecolumnheader">
				Item#
			</td>
            <td class="tablecolumnheader">
				SPR#
			</td>
            <td class="tablecolumnheader">
				Serial#
			</td>
            <td class="tablecolumnheader" style="text-align:right;">
				Quantity
			</td>
            <td WIDTH="30%"/>
         </tr>
      </thead>
      <tr>
         <td>NOR-00001</td>
         <td/>
         <td/>
         <td>2.00</td>
      </tr>
      <tr>
         <td>NOR-00002</td>
         <td/>
         <td/>
         <td>2.00</td>
      </tr>
   </table>
   <BR/>
   <BR/>
   <font> Carrier: FedEx Ground<BR/>
      <BR/>
   </font>
   <font> Payment: Non Commercial Shipment<BR/>
      <BR/>
   </font>
   <font> Freight Terms: <BR/>
      <BR/>
   </font>
   <font> Warehouse: DC1<BR/>
      <BR/>
   </font>
</BODY>