<BODY xmlns:lxslt="http://xml.apache.org/xslt" topmargin="0" leftmargin="0">
   <BR/>
   <BR/>
   <font> ASN Number: 100000359<BR/>
      <BR/>
      <BR/>
   </font>
   <BR/>
   <BR/>
   <font> Status: Putaway at 2017-07-04T00:00:00-04:00<BR/>
      <BR/>
      <BR/>
   </font>
   <p/>
   <br/>
   <b>Items in this order</b>
   <table class="table">
      <thead>
         <tr>
            <td class="tablecolumnheader">
				Item#
			</td>
            <td class="tablecolumnheader">
				SPR#
			</td>
            <td class="tablecolumnheader">
				Serial#
			</td>
            <td class="tablecolumnheader" style="text-align:right;">
				Quantity
			</td>
            <td WIDTH="30%"/>
         </tr>
      </thead>
      <tr>
         <td>TAGST-L01</td>
         <td>47171</td>
         <td>Lot1</td>
         <td>1.00</td>
      </tr>
      <tr>
         <td>TAGST-L01</td>
         <td>47172</td>
         <td>Lot1</td>
         <td>1.00</td>
      </tr>
      <tr>
         <td>TAGST-L01</td>
         <td>47173</td>
         <td>Lot1</td>
         <td>1.00</td>
      </tr>
      <tr>
         <td>TAGST-L01</td>
         <td>47174</td>
         <td>Lot1</td>
         <td>1.00</td>
      </tr>
      <tr>
         <td>TAGST-L01</td>
         <td>47175</td>
         <td>Lot1</td>
         <td>1.00</td>
      </tr>
      <tr>
         <td>ST-000001</td>
         <td>040720171</td>
         <td/>
         <td>1.00</td>
      </tr>
      <tr>
         <td>ST-000001</td>
         <td>040720172</td>
         <td/>
         <td>1.00</td>
      </tr>
   </table>
   <BR/>
   <BR/>
   <font> Warehouse: DC1<BR/>
      <BR/>
   </font>
	
	
	Sincerely,<BR/>
Customer Service Manager.<BR/>
</BODY>