<!-- Feature Header  Name and Menu -->

<div class="visible-xs-block"  style="background-color: #03A9F4" id="headerBlock" > 
	<!-- <div class="navbar-brand" yield-to="title">-->
	<span><b>{{module}}</b></span>
	<!-- <button data-ng-click="logout()" style='height:26px;margin-bottom:0px;margin-top:0px;'>Logout</button>-->
	<div class="btn-group pull-right">
		<div data-ng-click="go('/MobileHome')" class="btn">
			<i></i><img src="common/imgs/MenuIcon.bmp" style='width: 35px; height: 20px; margin-right: 0px; margin-top: -7px;'>
			
		</div>
	<button data-ng-click="logout()" style='height:20px;margin-bottom:0px;margin-top:-0px;'>Logout</button>
	</div>
</div>

<div style="background-color:#E1F5FE">
	<div ui-view="settingsNavigator"></div>
</div>
<div style="background-color:#E1F5FE">
	<div ui-view="criteria"></div>
</div>






