  <!-- <div align="center">-->
  <div class="container" align="center">
       <form id="lgn"class="form-horizontal" role="form">
      		<div class="form-group">
       			
       			<img src="common/imgs/bridge-solutions-group-logo.png" style='margin-top:5px;'>
      			<br />
      		</div>
      		
      		
	  		<br />

        	<div align="center" style="width:220px;margin-right:0px">
        	 
          	 <div style="margin-bottom:5px" class="input-group">
                  <span class="input-group-addon icon icon-user"></span>
    <!-- input id="lgn_user" type="text" class="form-control" name="username" data-i18n="_UserNameHeader_" data-ng-model="frmlogin_userid" value="" placeholder="username"-->
     <input id="lgn_user" type="text" class="form-control" name="username" data-ng-model="frmlogin_userid" value="" data-i18n-attr="_UserNameHeader_|placeholder" />                                        
                                    </div>
          	
          	
          	
          	
          	<!-- 	<input type="text" id="lgn_user" data-ng-model="frmlogin_userid" placeholder="UserName">-->
          	   	
		    		<span class="error-msg" data-i18n="_UserRequired_" id="loginmessage1" data-ng-model="loginmessage" data-ng-show="userRequired">{{userRequired}}</span>
		  		<br />
          		
          		
          		<div style="margin-bottom:5px" class="input-group">
                                        <span class="input-group-addon icon icon-password"></span>
                                        <!-- input id="lgn_pass" type="password" class="form-control" name="password" data-i18n="_PasswordHeader_" data-ng-model="frmlogin_password" placeholder="password"-->
                 <input id="lgn_pass" type="password" class="form-control" name="password" data-i18n="_PasswordHeader_" data-ng-model="frmlogin_password" data-i18n-attr="_PasswordHeader_|placeholder">
                                    </div>
          		
		  	<!-- 	<input type="password" id="lgn_pass" data-ng-model="frmlogin_password" placeholder="Password"> -->
		  		<span class="error-msg" data-i18n="_PassRequired_" id="loginmessage2" data-ng-model="loginmessage" data-ng-show="passRequired">{{passRequired}}</span>
        	</div>
    
    	    <br />
    	    <div class="form-group">
					<button id="lgn_submit" type="submit" data-ng-click="validateUserData()" style='width:218px;color:#fff' data-i18n="_LoginButtonLabel_" ng-model="frmlgn_submit">Login</button>
         	</div>
     		
     
	  		<!-- span>{{formInfo}}</span-->
	   		<span class="error-msg" data-ng-show="loginmessage" id="loginmessage3" data-ng-model="loginmessage" data-i18n="_CallHelpDesk_">{{loginmessage}}</span>
		
			<br />
			<br />
			<span>@ Copyright 
			<a href="http://www.bridgesgi.com">BridgeSGI Solutions Group</a> 2015  All Rights Reserved. </span>
			
    	</form>   
     		<div><a ui-sref="/login"></a></div>
    </div>
 
 