
<div class="container">
	<form id="set" class="form-horizontal" role="form" name="frmlog">
		<div class="form-group">
			<div class="col-sm-4">
				
				<select>
				  <option value="Node">--Select Node--</option>
  				  <option value="DC1">DC1</option>
 				  <option value="DC2">DC2</option>
 				  <option value="DC3">DC3</option>
				</select>
				<br />
				
				<select>
				  <option value="User">--Select User--</option>
  				  <option value="dc1m1">dc1m1</option>
 				  <option value="dc1mgr">dc1mgr</option>
 				  <option value="admin">admin</option>
				</select>
				<br />
				
				<select multiple>
				  <option value="User">--Select Module--</option>
  				  <option value="dc1m1">Receive</option>
 				  <option value="dc1mgr">Putaway</option>
 				  <option value="admin">Pick</option>
 				  <option value="admin">Inventory</option>
 				  <option value="admin">Pack</option>
 				  <option value="admin">BlindReceive</option>
 				  <option value="admin">Manifest</option>
 				  <option value="admin">menuopt</option>
 				  <option value="admin">Settings</option>
 				  <option value="admin">All</option>
				</select>
				<br />
			</div>
		</div>
					<div>
				<button type="submit"  data-ng-click="go()">Save</button>
			</div>
	</form>
</div>





<!-- 
<div class="container">
	<form id="set" class="form-horizontal" role="form" name="frmlog">
		<div class="form-group">
			<div class="col-sm-4">
				<label>Node</label>
				<select name="set_nodeSelect" id="set_nodeSelect" data-ng-model="frmlog.set_userSelect" 
				data-ng-options="shipNodeVal.ShipNode as shipNodeVal.ShipNode for shipNodeVal in shipNodeContext">
				</select>
				<br />
				
				<label>User</label>
				<select name="set_userSelect" id="set_userSelect" data-ng-model="frmlog.set_userSelect" 
				data-ng-options="shipNodeVal.ShipNode as shipNodeVal.ShipNode for shipNodeVal in shipNodeContext">
				</select>
				<br />
				
				<label>Module</label>
				<div ng-dropdown-multiselect=""  options="app_states" selected-model="loggerHirerachy"></div>

			</div>
		</div>
					<div style="margin-top:70%">
				<button type="submit"  data-ng-click="go()">Save</button>
			</div>
	</form>
</div>
-->