<div class="container" >
	<form id="rcp" class="form-horizontal" role="form" name="frmReceivepallet">
   		
		<!--  <label class="form-label">Shipment Number#: {{frmReceivepallet_shipmentNo}}</label>
		
       
       	 <label class="form-label">Pallet/Case Id #:</label> -->
       	 
       	 <br />
		<div class="form-group">
			<div class="col-sm-4">
				<span class="content-detail-desc right"><label>Node:&nbsp;</label>{{recevingNode}}</span>
			</div>
		</div>
		
			<div class="form-group">
			<div class="col-sm-4">
		<span class="error-msg">{{ErrorMessage}}</span>
		<span class="info-msg">{{InfoMessage}}</span> 
		</div>
		</div>
       	  <div class="form-group">
	    	<div class="col-sm-4">
	    	<br>
        		
        		
        		<label>Receiving Dock:</label>
        		<input  type="text"  validate="true" id="locId"  placeholder="Location ID" ng-model="frmReceivepallet_locId" autofocus><br>
        		
        		
        		<label>Pallet Id:</label>
        		<input  type="text"  validate="true" id="palletId"  placeholder="PalletID / CaseID" ng-model="frmReceivepallet_palletId" autofocus><br>
        		
        		<!-- <label>Pallet Type:</label>
        		<input  type="text"  validate="true" id="palletType"  placeholder="Pallet Type" ng-model="frmReceivepallet_palletType" autofocus><br>
        		 -->
      		 </div>	
           	</div>
   			<div class="clear"></div>
   			
   			<div class="form-group" >
	    	<div class="col-sm-4">
   			
        		<button type="submit" ng-click="palletBuild()"  class="button_receive_small left">Proceed</button>
        		 </div>	
           	</div>
   			
			<!-- <div class="visible-xs-block" style="float: auto;">
				 <div class="form-group">
        	<div class="col-sm-4">
        	<label >Last Scanned LPNs:</label><br>
  		<table class="table-With-All-Borders pointer-cursor"
     data-ng-repeat="Lpn in LPNS.slice().reverse()| limitTo:3"
     style="width: 100%">
     <tr>
      <td class="content-desc-With-Less-Font"> {{Lpn}}</td>
     </tr>
    </table>
  	</div>
  	</div> 
  	</div>
   			
   			 <div class="form-group" >
	    	<div class="col-sm-4">
   			
        		<button type="submit" ng-click="receiveData()"  class="button_receive_small left">Item Scan</button>
        		<button style=" background-color:#03A9F4;" type="submit" ng-click="closeReceipt()" class="button_receive_small right">Menu</button>
           	</div>	
           	</div>
		 <div class="clear"></div>
		 <div class="visible-xs-block" style="float: auto;">
		 <div class="form-group">
	     	<div class="col-sm-4">
	     	<table class="table-With-All-Borders pointer-cursor">
	     	<tr>
	     	<td>
				<label>Shipment Summary</label><br>
				
				<span class="content-detail-desc" >
				<label>Shipment #:</label> {{shipmentContext.ShipmentNo}}<br>
  				<label>PO #:</label> {{orderContext.OrderList.Order.OrderNo}}<br> 
  				<label>Vendor:</label> {{shipmentContext.SellerOrganizationCode}}<br>
  				<label>Enterprise Code:</label> {{shipmentContext.EnterpriseCode}}
				</span>
				</td>
				</tr>
				</table>
	    	</div>
		</div>	
		</div>
		 -->
		<div class="clear"></div>

	</form>
</div>