<div class="container" >
   <form id="rig" class="form-horizontal" role="form" name="frmReceiveitemtimesensitive">
   <br />
		<div class="form-group">
			<div class="col-sm-4">
				<span class="content-detail-desc right"><label>Node:&nbsp;</label>{{recevingNode}}</span>
			</div>
		</div>
			<div class="form-group">
			<div class="col-sm-4">
		<span class="error-msg">{{ErrorMessage}}</span>
		<span class="info-msg">{{InfoMessage}}</span> 
		</div>
		</div>
		
   		<div class="visible-xs-block" style="float: auto;">
   		<div class="form-group">
   		<div class="col-sm-4">
   		 <span class="content-detail-desc" >
	        <label>Item ID:</label>{{ItemID}}<br>
	               
	        <label>Item Description:</label>{{ItemIDDesc}} 
	        </span>
	        </div>
		</div>
		</div>
		<div class="clear"></div>
	      <div class="form-group">
			<div class="col-sm-4"> 
				<!-- <label>Quantity:</label> -->
				<div class="clear"></div>
				<!-- <input type="text"  text" id="lotno" ng-model="frmReceiveitemdetails_lotno" placeholder="Lot #" data-ng-show="lotno_display" autofocus/><br>
		        <input type="text"  text" id="batchno" ng-model="frmReceiveitemdetails_batchno" placeholder="Batch #" data-ng-show="batchno_display" autofocus /><br> -->
		        
		        <input type="text"  id="expdate" placeholder="Expiration Date" data-ng-model="frmReceiveitemtimesensitive_expdate" autofocus /><br>
		        <label>MM/dd/YYYY</label><br>
		     </div>
		</div>
        <div class="clear"></div>
        
       
        
         <div class="form-group">
        	<div class="col-sm-4">           
         		
         		<button type="submit" class="button_receive_small left"   data-ng-click="timedetail()" data-ng-model="frmReceiveitemtimesensitive_qtyt">Save</button>
         		
         	</div>
        </div>
        
       
        
   
</form>
</div>