
<div class="container" >
   <form id="frp" class="form-horizontal" role="form" name="frmReceivedoctypes">
   
	<br />
		<div class="form-group">
			<div class="col-sm-4">
				<span class="content-detail-desc right"><label>Node:&nbsp;</label>{{recevingNode}}</span>
			</div>
		</div>
		
		<div class="form-group">
			<div class="col-sm-4">
		<span class="error-msg">{{ErrorMessage}}</span>
		</div>
		</div>
		
		<div class="form-group">
			<div class="col-sm-4">
		
				<a id="po" ui-sref="Receive.po({CSRFToken:csrf})" >Purchase Order</a> <br />
			 	<a id="blindreceipt" ui-sref="Receive.blindreceipt({CSRFToken:csrf})" >Blind Receipt</a> <br />
					<!-- <a id="returnorder" ui-sref="" >Return Order</a> <br />
				<a id="transferorder" ui-sref="">Transfer Order</a> <br />
				<a id="blindreturn" ui-sref="">Blind Return</a> <br />
        		 		-->
		
       			 
         	</div>
		</div>
        

  
</form>
</div>