<div class="container" >
   <form id="rid" class="form-horizontal" role="form" name="frmReceiveitemscan">
   <br />
		<div class="form-group">
			<div class="col-sm-4">
				<span class="content-detail-desc right"><label>Node:&nbsp;</label>{{recevingNode}}</span>
			</div>
		</div>
			<div class="form-group">
			<div class="col-sm-4">
		<span class="error-msg">{{ErrorMessage}}</span>
		<span class="info-msg">{{InfoMessage}}</span> 
		</div>
		</div>
		
   		<div>
   		<div class="visible-xs-block" style="float: auto;">
   		<div class="form-group">
   		
	    	<div class="col-sm-4">
	    	<br><span class="content-detail-desc" >
	        	<label>Location ID :</label> {{receiptContext.ReceivingDock}}   </span>
	        </div>	
	        <div class="clear"></div>
	        
		</div>
		</div>
		
		<div class="form-group" >
			<div class="col-sm-4"> 
				
				<div class="clear"></div>
				<input type="text" validate="true" id="item" ng-model="frmReceiveitemscan_item" placeholder="Item ID" autofocus>
					
				
		     </div>
		</div>
		
        <div class="clear"></div>
          <div class="form-group">
        	<div class="col-sm-4">           
         		<button type="submit" ng-show="frmReceiveitemscan_done_button"  ng-click="itemdone()" ng-model="frmReceiveitemscan_done">Done</button>
         		<button type="submit" ng-show="frmReceiveitemscan_closeCase_button"  ng-click="closeCase()" ng-model="frmReceiveitemscan_closeCase">Close Case</button>
         	</div>
        </div>
        <div class="visible-xs-block" style="float: auto;">
  	 <div class="form-group">
        	<div class="col-sm-4">
        	<label>Last Scanned Items:</label><br>
  		<table class="table-With-All-Borders pointer-cursor"
     data-ng-repeat="Item in ITEMS.slice().reverse()| limitTo:3"
     style="width: 100%">
     <tr>
      <td class="content-desc-With-Less-Font"> {{Item}}</td>
     </tr>
    </table>
  	</div>
  	</div> 
  	</div>
		<div class="visible-xs-block" style="float: auto;">
		 <div class="form-group">
	     	<div class="col-sm-4">
	     	<table class="table-With-All-Borders pointer-cursor">
	     	<tr>
	     	<td>
				<label>Shipment Summary</label><br>
				<span class="content-detail-desc" >
				<label>Shipment #:</label> {{shipmentContext.ShipmentNo}}<br>
  				<label>Vendor:</label> {{shipmentContext.SellerOrganizationCode}}<br>
  				<label>Enterprise Code:</label> {{shipmentContext.EnterpriseCode}}<br>
  				<label>LPN #:</label> {{caseId}} {{palletId}}
  				</span>
				</td>
				</tr>
				</table>
	    	</div>
		</div>	
		</div>
	    
		</div>
		
		</form>
         </div>

