
<div class="container" >
   <form id="frp" class="form-horizontal" role="form" name="frmReceivepo">
   
	<br />
		<div class="form-group">
			<div class="col-sm-4">
				<span class="content-detail-desc right"><label>Node:&nbsp;</label>{{recevingNode}}</span>
			</div>
		</div>
		
		<div class="form-group">
			<div class="col-sm-4">
		<span class="error-msg">{{ErrorMessage}}</span>
		</div>
		</div>
		
		<div class="form-group">
			<div class="col-sm-4">
				<br>
        		<!-- <label class="form-label">Shipment #</label><br> -->
        		<input  placeholder="Shipment# / Order#" type="text"  validate="true" id="shipment" ng-model="frmReceivepo_shipment" autofocus>
				
         	</div>
		</div>
	   	<div class="form-group">
			<div class="col-sm-4">	
        		       <button type="submit" ng-click="startReceipt()"  class="button_receive_small left">Add to receipt</button>
			</div>
		</div>
  
</form>
</div>