<div class="container" >
   <form id="ris" class="form-horizontal" role="form" name="frmReceiveitemserial">
   <br />
		<div class="form-group">
			<div class="col-sm-4">
				<span class="content-detail-desc right"><label>Node:&nbsp;</label>{{recevingNode}}</span>
			</div>
		</div>
			<div class="form-group">
			<div class="col-sm-4">
		<span class="error-msg">{{ErrorMessage}}</span>
		<span class="info-msg">{{InfoMessage}}</span> 
		</div>
		</div>
		
   		<div class="visible-xs-block" style="float: auto;">
   		<div class="form-group">
   		<div class="col-sm-4">
   		 <span class="content-detail-desc" >
	        <label>Item ID:</label>{{ItemID}}<br>
	        	       
	        <label>Item Description:</label>{{ItemIDDesc}} 
	        </span>
	        </div>
		</div>
		</div>
		<div class="clear"></div>
	      <div class="form-group">
			<div class="col-sm-4"> 
				<!-- <label>Quantity:</label> -->
				<div class="clear"></div>
				<label>ScannedQty:</label>{{ScannedQty}}<br>
		        <input type="text"  id="serialno" placeholder="Serial#" data-validate="true" data-ng-model="frmReceiveitemserial_serialno" autofocus /><br>
		        </div>
		        
		        <div class="col-sm-4" data-ng-show="showSecSerial1">
		        <input type="text"  id="secs1" data-validate="true" data-ng-model="frmReceiveitemserial_secs1" placeholder="Sec Serial1" data-ng-show="showSecSerial1" autofocus /><br>
		        </div>
		        <div class="col-sm-4" data-ng-show="showSecSerial2">
		        <input type="text"  id="secs2" data-validate="true" data-ng-model="frmReceiveitemserial_secs2" placeholder="Sec Serial2" data-ng-show="showSecSerial2" autofocus /><br>
		        </div>
		        <div class="col-sm-4" data-ng-show="showSecSerial3">
		        <input type="text"  id="secs3" data-validate="true" data-ng-model="frmReceiveitemserial_secs3" placeholder="Sec Serial3" data-ng-show="showSecSerial3" autofocus /><br>
		        </div>
		        <div class="col-sm-4" data-ng-show="showSecSerial4">
		        <input type="text"  id="secs4" data-validate="true" data-ng-model="frmReceiveitemserial_secs4" placeholder="Sec Serial4" data-ng-show="showSecSerial4" autofocus /><br>
		        </div>
		        <div class="col-sm-4" data-ng-show="showSecSerial5">
		        <input type="text"  id="secs5" data-validate="true" data-ng-model="frmReceiveitemserial_secs5" placeholder="Sec Serial5" data-ng-show="showSecSerial5" autofocus /><br>
		        </div>
		        <div class="col-sm-4" data-ng-show="showSecSerial6">
		        <input type="text"  id="secs6" data-validate="true" data-ng-model="frmReceiveitemserial_secs6" placeholder="Sec Serial6" data-ng-show="showSecSerial6" autofocus /><br>
		        </div>
		        <div class="col-sm-4" data-ng-show="showSecSerial7">
		        <input type="text"  id="secs7" data-validate="true" data-ng-model="frmReceiveitemserial_secs7" placeholder="Sec Serial7" data-ng-show="showSecSerial7" autofocus /><br>
		        </div>
		        <div class="col-sm-4" data-ng-show="showSecSerial8">		        
		        <input type="text"  id="secs8" data-validate="true" data-ng-model="frmReceiveitemserial_secs8" placeholder="Sec Serial8" data-ng-show="showSecSerial8" autofocus /><br>
		        </div>
		        <div class="col-sm-4" data-ng-show="showSecSerial9">
		        <input type="text"  id="secs9" data-validate="true" data-ng-model="frmReceiveitemserial_secs9" placeholder="Sec Serial9" data-ng-show="showSecSerial9" autofocus /><br>
		     </div>
		     </div>
		
        <div class="clear"></div>       
        
         <div class="form-group"  data-ng-show="showsecserial">
        	<div class="col-sm-4">           
         		<button type="submit" class="button_receive_small left"   data-ng-click="serialsave()" data-ng-model="frmReceiveitemserial_save">Save</button>
         		
         	</div>
        </div>
        
         
         <div class="form-group">
        	<div class="col-sm-4">           
         		<button type="submit" class="button_receive_small left"   data-ng-click="serialdone()" data-ng-model="frmReceiveitemserial_done">Done</button>
         	</div>
        </div>     
                     
</form>
</div>