<div class="container" >
   <form id="rig" class="form-horizontal" role="form" name="frmReceiveitemtag">
   <br />
		<div class="form-group">
			<div class="col-sm-4">
				<span class="content-detail-desc right"><label>Node:&nbsp;</label>{{recevingNode}}</span>
			</div>
		</div>
			<div class="form-group">
			<div class="col-sm-4">
		<span class="error-msg">{{ErrorMessage}}</span>
		<span class="info-msg">{{InfoMessage}}</span> 
		</div>
		</div>
		
   		<div class="visible-xs-block" style="float: auto;">
   		<div class="form-group">
   		<div class="col-sm-4">
   		 <span class="content-detail-desc" >
	        <label>Item ID:</label>{{ItemID}}<br>
	               
	        <label>Item Description:</label>{{ItemIDDesc}} 
	        </span>
	        </div>
		</div>
		</div>
		<div class="clear"></div>
	      <div class="form-group">
			<!-- <div class="col-sm-4"> 
				<!-- <label>Quantity:</label> -->
				<div class="clear"></div>
				<!-- <input type="text"  text" id="lotno" ng-model="frmReceiveitemdetails_lotno" placeholder="Lot #" data-ng-show="lotno_display" autofocus/><br>
		        <input type="text"  text" id="batchno" ng-model="frmReceiveitemdetails_batchno" placeholder="Batch #" data-ng-show="batchno_display" autofocus /><br> 
		        
		        </div> --> 
		        <div class="col-sm-4">
		        <div data-ng-show="showtagidn"> 
		        <label>Tag Identifiers</label>
		        <div data-ng-show="showLotNumber">
		        <input type="text" id="lotno" placeholder="Lot#" data-ng-model="frmReceiveitemtag_lotno" data-ng-show="showLotNumber" autofocus /><br>
		        </div>
		        <div data-ng-show="showBatchNumber">
		        <input type="text" id="batchno" placeholder="Batch#" data-ng-model="frmReceiveitemtag_batchno" data-ng-show="showBatchNumber" autofocus /><br>
		        </div>
		        <div data-ng-show="showRevisionNumber">
		        <input type="text" id="revno" placeholder="Revision#" data-ng-model="frmReceiveitemtag_revno" data-ng-show="showRevisionNumber" autofocus /><br>
		        </div>
		        </div>
		        
		        
		        <div data-ng-show="showtagatt"> 
		        <label>Tag Attributes</label>
		        <div data-ng-show="showLotNumberDesc">
		        <input type="text"  id="lotdesc" data-ng-model="frmReceiveitemtag_lotnodesc" placeholder="Lot Att#" data-ng-show="showLotNumberDesc" autofocus /><br>
		        </div>
		        <div data-ng-show="showBatchNumberDesc">
		        <input type="text"  id="batchdesc" data-ng-model="frmReceiveitemtag_batchnodesc" placeholder="Batch Att#" data-ng-show="showBatchNumberDesc" autofocus /><br>
		        </div>
		        <div data-ng-show="showRevisionNumberDesc">
		        <input type="text"  id="revdesc" data-ng-model="frmReceiveitemtag_revnodesc" placeholder="Revision Att#" data-ng-show="showRevisionNumberDesc" autofocus /><br>
		        </div>
		        <div data-ng-show="showLotAttribute1">
		        <input type="text"  id="lotatt1" data-ng-model="frmReceiveitemtag_lotatt1" placeholder="Lot Attribute1" data-ng-show="showLotAttribute1" autofocus /><br>
		        </div>
		        <div data-ng-show="showLotAttribute2">
		        <input type="text"  id="lotatt2" data-ng-model="frmReceiveitemtag_lotatt2" placeholder="Lot Attribute2" data-ng-show="showLotAttribute2" autofocus /><br>
		        </div>
		        <div data-ng-show="showLotAttribute3">
		        <input type="text"  id="lotatt3" data-ng-model="frmReceiveitemtag_lotatt3" placeholder="Lot Attribute3" data-ng-show="showLotAttribute3" autofocus /><br>
		        </div>
		        <div data-ng-show="showLotKeyReference">
		        <input type="text"  id="lotref"  data-ng-model="frmReceiveitemtag_lotref"  placeholder="Lot Reference No" data-ng-show="showLotKeyReference" autofocus /><br>
		        </div>
		        <div data-ng-show="showManufacturingDate">
		        <input type="text"  id="mnfdate" data-ng-model="frmReceiveitemtag_mnfdate" placeholder="Manufacturing Date" data-ng-show="showManufacturingDate" autofocus /><br>
		        </div>
		     </div>
		     </div>
		</div>
		
        <div class="clear"></div>
        
       
        
         <div class="form-group">
        	<div class="col-sm-4">           
         		
         		<button type="submit" class="button_receive_small left"   data-ng-click="tagdetail()" data-ng-model="frmReceiveitemtag_qty">Save</button>
         		
         	</div>
        </div>
        
       
        
   
</form>
</div>