
<div class="container" style="background-color:#E1F5FE">
   <form id="rew" class="form-horizontal" role="form" name="frmReceiveExtraWork">
   		
		<div>
        	<label>Item ID: </label>
        	<span class="content-detail-desc">{{itemID}}</span>
         	<div class="clear"></div>
        	<label>Description: </label>
        	<span class="content-detail-desc">{{itemDescription}}</span>
      
		</div>
       <div class="clear"></div>
    	<div class="form-group">
  			
			<div class="col-sm-4">
        
        <br />
        <input type="text" validate="true" id="rew_ExtraWork" placeholder="Extra Work Minutes" data-ng-model="frmBlindReceiveextraw_ExtraWork">
        <br />
        <textarea type="text" validate="true" id="rew_ExtraWorkDesc" rows="4" style="width:100%"  maxlength="255" placeholder="Extra Work Description"  data-ng-model="frmBlindReceiveextraw_ExtraWorkDesc">
        </textarea>
     
        </div>
        </div>
        
         <div class="form-group">
        	<div class="col-sm-4">
          <button type="submit" data-ng-click="saveExtraWork()">Detop</button>
		  <button type="submit" data-ng-click="getdata()">Complete Receipt</button>
        
            <div class="clear"></div>
            </div>
            </div>
       <br/>
   

       
     <!--   <a>Location: ID: 0A0A000000</a><br/>
	   <a>Pallet ID: ###################</a><br/>
	   <a>Case ID: ################</a><br/>
	   <a>SKU: ################</a><br/>
	   <a>Instructions: handle with care</a><br/>
	   <b>PO Summary</b><br/>
	   <a>PO #: ##################</a><br/>
	   <a>Seller: ABC</a><br/>
	   <a>Truck Arrival Date/Time: 24.06.15 23:06</a><br />
	   -->

</form>
</div>

