<div class="container">
	<form id="bpo" class="form-horizontal" role="form" name="frmBlindReceivepo">
	
		<br />
		<div class="form-group">
			<div class="col-sm-4">
				<span class="content-detail-desc right"><label>Node:&nbsp;</label>{{recevingNode}}</span>
			</div>
		</div>
		
		<div class="form-group">
			<div class="col-sm-4">
		<span class="error-msg">{{ErrorMessage}}</span>
		</div>
		</div>
		
	
	
	
		<div class="form-group">
			<div class="col-sm-4">
				<!-- <label data-i18n="_Reference_">Seller</label>  -->
				<input type="text" id="bpo_reference" tabindex = "1" validate="true" data-ng-model="frmBlindReceivepo_seller" placeholder="Seller" autofocus>
	<br>
				<!--<label>Principal</label> -->
				<input type="text" id="principal" tabindex = "2" validate="true" data-ng-model="frmBlindReceivepo_principal"	placeholder="Enterprise" autofocus>
				<!-- <label>Truck Arrival Date/Time</label> 
			
				<input type="text" id="truckarrival"  validate="true" 	data-ng-model="frmBlindReceivepo_truckarrival"> -->
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-4">
				<button type="submit"
					data-ng-click="createPO()">Create PO</button>

				<div class="clear"></div>
			</div>
		</div>
<!-- 
		<div class="footer">

			<button data-ng-click="$back()" class="left">Prev</button>
			<a ui-sref=".pallets">
				<button data-ng-click="next()" class="right">Next</button>
			</a>
		</div>
		 -->

	</form>
</div>
