@charset "UTF-8";

@font-face {
  font-family: "mobile-wms";
  src:url("fonts/mobile-wms.eot");
  src:url("fonts/mobile-wms.eot?#iefix") format("embedded-opentype"),
    url("fonts/mobile-wms.woff") format("woff"),
    url("fonts/mobile-wms.ttf") format("truetype"),
    url("fonts/mobile-wms.svg#mobile-wms") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "mobile-wms" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "mobile-wms" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-log-out:before {
  content: "a"; color:green;
}@media (max-width:319px)
	{.icon-log-out:before{font-size:20px;margin-left:0px;}
    }@media (min-width:320px)
	{.icon-log-out:before{font-size:35px;margin-left:0px;}
    }@media (min-width:400px)
	{.icon-log-out:before{font-size:60px;margin-left:0px;}
    }@media (min-width:1200px)
	{.icon-log-out:before{font-size:75px;margin-left:25px;}
    }
    
.icon-tasks:before {
  content: "b"; color:blue;
}@media (max-width:319px)
	{.icon-tasks:before{font-size:20px;margin-left:0px;}
    }@media (min-width:320px)
	{.icon-tasks:before{font-size:35px;margin-left:0px;}
    }@media (min-width:400px)
	{.icon-tasks:before{font-size:60px;margin-left:0px;}
    }@media (min-width:1200px)
	{.icon-tasks:before{font-size:75px;margin-left:0px;}
    }
    
.icon-cog-gear:before {
  content: "c"; color:black;
}@media (max-width:319px)
	{.icon-cog-gear:before{font-size:20px;margin-left:0px;}
    }@media (min-width:320px)
	{.icon-cog-gear:before{font-size:35px;margin-left:0px;}
    }@media (min-width:400px)
	{.icon-cog-gear:before{font-size:60px;margin-left:0px;}
    }@media (min-width:1200px)
	{.icon-cog-gear:before{font-size:75px;margin-left:0px;}
    }
    
.icon-user:before {
  content: "d";
}

.icon-manifest:before {
  content: "n";color:#8080c0;
}@media (max-width:319px)
	{.icon-manifest:before{font-size:20px;margin-left:0px;}
    }@media (min-width:320px)
	{.icon-manifest:before{font-size:35px;margin-left:0px;}
    }@media (min-width:400px)
	{.icon-manifest:before{font-size:60px;margin-left:0px;}
    }@media (min-width:1200px)
	{.icon-manifest:before{font-size:75px;margin-left:0px;}
    }
    
.icon-home:before {
  content: "o";color:brown;
}@media (max-width:319px)
	{.icon-home:before{font-size:20px;margin-left:0px;}
    }@media (min-width:320px)
	{.icon-home:before{font-size:35px;margin-left:0px;}
    }@media (min-width:400px)
	{.icon-home:before{font-size:60px;margin-left:0px;}
    }@media (min-width:1200px)
	{.icon-home:before{font-size:75px;margin-left:0px;}
    }
    
.icon-adhoc-move:before {
  content: "e";color:skyblue;
}@media (max-width:319px)
	{.icon-adhoc-move:before{font-size:20px;margin-left:0px;}
    }@media (min-width:320px)
	{.icon-adhoc-move:before{font-size:35px;margin-left:0px;}
    }@media (min-width:400px)
	{.icon-adhoc-move:before{font-size:60px;margin-left:0px;}
    }@media (min-width:1200px)
	{.icon-adhoc-move:before{font-size:75px;margin-left:0px;}
    }
    
.icon-blind-receive:before {
  content: "f";color:#008080;
}@media (max-width:319px)
	{.icon-blind-receive:before{font-size:20px;margin-left:0px;}
    }@media (min-width:320px)
	{.icon-blind-receive:before{font-size:35px;margin-left:0px;}
    }@media (min-width:400px)
	{.icon-blind-receive:before{font-size:60px;margin-left:0px;}
    }@media (min-width:1200px)
	{.icon-blind-receive:before{font-size:75px;margin-left:0px;}
    }
    
.icon-count:before {
  content: "g";color:#ff0080;
}@media (max-width:319px)
	{.icon-count:before{font-size:20px;margin-left:0px;}
    }@media (min-width:320px)
	{.icon-count:before{font-size:35px;margin-left:0px;}
    }@media (min-width:400px)
	{.icon-count:before{font-size:60px;margin-left:0px;}
    }@media (min-width:1200px)
	{.icon-count:before{font-size:75px;margin-left:0px;}
    }
    
.icon-inventory:before {
  content: "h";color:orange;
}@media (max-width:319px)
	{.icon-inventory:before{font-size:20px;margin-left:0px;}
    }@media (min-width:320px)
	{.icon-inventory:before{font-size:35px;margin-left:0px;}
    }@media (min-width:400px)
	{.icon-inventory:before{font-size:60px;margin-left:0px;}
    }@media (min-width:1200px)
	{.icon-inventory:before{font-size:80px;margin-left:0px;}
    }
    
.icon-pack:before {
  content: "i"; color:#236684;
}@media (max-width:319px)
	{.icon-pack:before{font-size:25px;margin-left:0px;}
    }@media (min-width:320px)
	{.icon-pack:before{font-size:35px;margin-left:0px;}
    }@media (min-width:400px)
	{.icon-pack:before{font-size:60px;margin-left:0px;}
    }@media (min-width:1200px)
	{.icon-pack:before{font-size:75px;margin-left:0px;}
    }
    
.icon-pack-audit:before {
  content: "j"; color:#708F27;
}@media (max-width:319px)
	{.icon-pack-audit:before{font-size:20px;margin-left:0px;}
    }@media (min-width:320px)
	{.icon-pack-audit:before{font-size:35px;margin-left:0px;}
    }@media (min-width:400px)
	{.icon-pack-audit:before{font-size:60px;margin-left:0px;}
    }@media (min-width:1200px)
	{.icon-pack-audit:before{font-size:75px;margin-left:0px;}
    }
    
.icon-pick:before {
  content: "k"; color:#6957B4;
}@media (max-width:319px)
	{.icon-pick:before{font-size:20px;margin-left:0px;}
    }@media (min-width:320px)
	{.icon-pick:before{font-size:35px;margin-left:0px;}
    }@media (min-width:400px)
	{.icon-pick:before{font-size:60px;margin-left:0px;}
    }@media (min-width:1200px)
	{.icon-pick:before{font-size:75px;margin-left:0px;}
    }
    
.icon-putaway:before {
  content: "l"; color:red;
}@media (max-width:319px)
	{.icon-putaway:before{font-size:20px;margin-left:0px;}
    }@media (min-width:320px)
	{.icon-putaway:before{font-size:35px;margin-left:0px;}
    }@media (min-width:400px)
	{.icon-putaway:before{font-size:60px;margin-left:0px;}
    }@media (min-width:1200px)
	{.icon-putaway:before{font-size:75px;margin-left:0px;}
    }
    
.icon-receive:before {
  content: "m";
}@media (max-width:319px)
	{.icon-receive:before{font-size:20px;margin-left:0px;}
    }@media (min-width:320px)
	{.icon-receive:before{font-size:35px;margin-left:0px;}
    }@media (min-width:400px)
	{.icon-receive:before{font-size:60px;margin-left:0px;}
    }@media (min-width:1200px)
	{.icon-receive:before{font-size:75px;margin-left:0px;}
    }
    
.icon-back:before {
  content: "p";
}@media (max-width:319px)
	{.icon-back:before{font-size:20px;margin-left:0px;}
    }@media (min-width:320px)
	{.icon-back:before{font-size:35px;margin-left:0px;}
    }@media (min-width:400px)
	{.icon-back:before{font-size:60px;margin-left:0px;}
    }@media (min-width:1200px)
	{.icon-back:before{font-size:55px;margin-left:0px;}
    }
    
.icon-password:before {
  content: "q";
}
