
<div class="container">
<form id="clf" class="form-horizontal" role="form" name="frmCloseReceiptpo">

		<div class="form-group">
			<div class="col-sm-4">
				<span class="content-detail-desc right"><label data-i18n="_Node_">Node:&nbsp;</label>{{recevingNode}}</span>
			</div>
		</div>
		
		<div class="form-group">
			<div class="col-sm-4">
		<span class="error-msg">{{ErrorMessage}}</span>
		</div>
		</div>
		
		<div class="form-group">
			<div class="col-sm-4">

				<input type="text" validate="true" id="clf_reference" data-ng-model="frmCloseReceipt_reference" placeholder="Receipt #, PO #, ASN or Seller"  data-i18n-attr="_Reference_|placeholder">
		    </div>
		</div>
					

        <div class="form-group">
			<div class="col-sm-4">
				
				<input type="text" id="clf_principal" data-ng-model="frmCloseReceipt_principal" placeholder="Principal"  data-i18n-attr="_EnterpriseCode_|placeholder">
				
			</div>
		</div>
		
			
			<div class="form-group">
			<div class="col-sm-4">
				<button type="submit" id = "clf_findreceipt" data-ng-click="findreceipt()" class="button_receive_small left" data-i18n="_FindReceiptButtonLabel_" >Find Receipt</button>

				<div class="clear"></div>
			</div>
		</div>
</form>

</div>