 <div class="container">
   <form id="crd" class="form-horizontal" role="form" name="frmCloseReceiptDetails">

     		<div class="form-group">
			<div class="col-sm-4">
				<span class="content-detail-desc right"><label data-i18n="_Node_">Node:&nbsp;</label>{{recevingNode}}</span>
			</div>
		</div>
			<div class="form-group">
			<div class="col-sm-4">
				<span class="error-msg">{{ErrorMessage}}</span>
				<span class="info-msg">{{InfoMessage}}</span> 
			</div>
			</div>
     
	 <div class="form-group relative">  
     	<div class="col-sm-4"> 
        	<label data-i18n="_Receipt_">Receipt#: </label>
        	<span class="content-detail-desc">{{ReceiptNo}}</span>
         	<div class="clear"></div>
         	<label data-ng-hide = "hideorder" data-i18n="_Order_">Order#: </label>
        	<span class="content-detail-desc">{{order}}</span>
         	<div class="clear"></div>
         	<label data-ng-hide = "hideship" data-i18n="_Shipment_">Shipment#: </label>
        	<span class="content-detail-desc">{{ship}}</span>
         	<div class="clear"></div>
         	<label data-ng-hide = "hideseller" data-i18n="_SellerOrganizationCode_">Seller: </label>
        	<span class="content-detail-desc">{{sell}}</span>
         	<div class="clear"></div>
         	<label data-i18n="_ExpectedDeliveryDate_">Expected Delivery Date: </label>
        	<span class="content-detail-desc">{{ReceiptDate | limitTo: GivenLimit}}</span>
         	<div class="clear"></div>
         	<br />
		</div>
	 </div>
	 
	
       <div class="form-group">
			<div class="col-sm-4">
				<button id= "crd_cancel" type="submit" data-ng-click="cancelreceipt()" class="pull-left" data-i18n="_CancelButtonLabel_">Cancel</button>
<!-- 
				<div class="clear"></div>
			</div>
		</div>
		 <div class="form-group">
			<div class="col-sm-4">
			-->
				<button id= "crd_close" type="submit" data-ng-click="closereceipt()" class="pull-right" data-i18n="_CloseReceiptButtonLabel_">Close Receipt</button>

				<div class="clear"></div>
			</div>
		</div>
   </form> 
</div>