 <div class="container">
   <form id="crr" class="form-horizontal" role="form" name="frmCloseReceiptResults">

		<div class="form-group">
			<div class="col-sm-4">
				<span class="content-detail-desc right"><label data-i18n="_Node_">Node:&nbsp;</label>{{recevingNode}}</span>
			</div>
		</div>
			<div class="form-group">
			<div class="col-sm-4">
				<span class="error-msg">{{ErrorMessage}}</span>
				<span class="info-msg">{{InfoMessage}}</span> 
			</div>
			</div>
		
	 
		<br> <label data-i18n="_ReceiptList_">Receipt List</label> <br>
	<div class="form-group">
				<div class="col-sm-4">
					<table id="crr_table" data-ng-click="proceed(receipt.ReceiptNo, receipt.ReceiptDate, receipt.DocumentType)" class="table-With-All-Borders pointer-cursor" data-ng-repeat="receipt in receiptContext | limitTo: numOfReceiptsToBeShown" data-ng-if="receipt.ReceiptNo" style="width:105%">

							<tr>						
							<td ><label data-i18n="_Receipt_">Receipt#</label></td>
							<td ><label>:&nbsp;</label><span class="content-desc-With-Less-Font">{{receipt.ReceiptNo}}</span></td>
							</tr>
							<tr data-ng-hide = "hideorder">
							<td ><label data-i18n="_Order_">Order#</label></td>
							<td ><label>:&nbsp;</label><span class="content-desc-With-Less-Font">{{order}}</span></td>
							</tr>
							<tr data-ng-hide = "hideship">
							<td ><label data-i18n="_Shipment_">Shipment#</label></td>
							<td ><label>:&nbsp;</label><span class="content-desc-With-Less-Font">{{ship}}</span></td>
							</tr>
							<tr data-ng-hide = "hideseller">
							<td ><label data-i18n="_SellerOrganizationCode_">Seller</label></td>
							<td ><label>:&nbsp;</label><span class="content-desc-With-Less-Font">{{sell}}</span></td>
							</tr>
							<tr>
							<td ><label data-i18n="_ExpectedDeliveryDate_">Expected Delivery Date</label></td>
							<td ><label>:&nbsp;</label><span class="content-desc-With-Less-Font">{{receipt.ReceiptDate | limitTo: GivenLimit}}</span></td>
							</tr>
							
					</table>
				</div>
			</div>
    	 
	 </form> 
   </div>
  
